Repository givtnl/givt-app, pull requests merged in 2023-11, with the labels that each got.

#389 Silent notifications (BFF-1097)
  android/app/build.gradle
  android/app/google-services.json
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/GoogleService-Info.plist
  ios/Runner/Info.plist
  ios/firebase_app_id_file.json
  lib/app/app.dart
  lib/app/bootstrap.dart
  lib/app/firebase_options.dart
  lib/app/firebase_options_dev.dart
  lib/core/network/api_service.dart
  lib/core/notification/notification.dart
  lib/core/notification/notification_service.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/main_development.dart
  lib/main_production.dart
  lib/main_staging.dart
  lib/shared/models/user_ext.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#391 BFF-1420 Display the SEPA or BACS flow based on the country selected
  lib/features/registration/pages/personal_info_page.dart
  lib/features/registration/widgets/payment_system_form_field.dart
Labels: enhancement

#392 update ruby version
  .ruby-version
Labels: chore

#393 BFF-1427 Redirect to the select giving way page
  lib/features/give/pages/select_giving_way_page.dart
Labels: bug

#396 Monthly notifications (BFF-657)
  android/app/src/main/AndroidManifest.xml
  lib/app/app.dart
  lib/app/bootstrap.dart
  lib/app/injection/injection.dart
  lib/core/notification/notification_service.dart
  lib/features/give/pages/home_page.dart
  lib/features/personal_summary/overview/widgets/annual_bar_chart.dart
  lib/features/personal_summary/overview/widgets/monthly_giving_goal_progress.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#399 Removing the badge for iOS users migrated from Native App (BFF-1410)
  lib/app/app.dart
  lib/app/routes/app_router.dart
  pubspec.lock
  pubspec.yaml
Labels: bug

#400 Allow bigger fontsize when set in accessibility (BFF-1452)
  lib/app/app.dart
Labels: enhancement

#401 Improvements on the presets (BFF-1299 + BFF-1389)
  lib/features/give/widgets/numeric_keyboard.dart
Labels: bug

#406 Search filter is showing orgs from other category (BFF-1407)
  lib/features/give/bloc/organisation/organisation_bloc.dart
Labels: bug

#405 PushnotificationId is not send to our db when user account is created (BFF-1456)
  lib/shared/models/user_ext.dart
Labels: bug

#404 Enable yearly notifications + Localization (BFF-656)
  lib/core/notification/notification_service.dart
  lib/features/give/pages/home_page.dart
Labels: enhancement

#403 Beacon improvements (BFF-1454)
  lib/features/give/pages/bt_scan_page.dart
Labels: bug

#407 Show local notifications on Android (BFF-1439)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable/icon.png
  lib/core/notification/notification_service.dart
Labels: bug

#421 BFF-1380 Adjusted location search
  lib/features/give/pages/gps_scan_page.dart
Labels: enhancement

#425 Add amplitude tracking for Personal Summary
  .vscode/launch.json
  lib/core/enums/amplitude_events.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/personal_summary/giving_goal/pages/setup_giving_goal_bottom_sheet.dart
  lib/features/personal_summary/overview/widgets/annual_bar_chart.dart
  lib/features/personal_summary/overview/widgets/annual_summary_card.dart
  lib/features/personal_summary/overview/widgets/giving_goal_card.dart
  lib/features/personal_summary/overview/widgets/narrow_card.dart
  lib/features/personal_summary/yearly_detail/pages/yearly_detail_bottom_sheet.dart
  lib/features/personal_summary/yearly_overview/pages/yearly_overview_page.dart
  lib/features/personal_summary/yearly_overview/widgets/giving_goal_summary_card.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  lib/utils/analytics_helper.dart
Labels: enhancement

#428 Feature: Hide US fake home address
  lib/features/account_details/pages/personal_info_edit_page.dart
Labels: enhancement

#430 Fix: Android 6 + 7 are crashing on startup
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/registration/bloc/registration_bloc.dart
  pubspec.lock
  pubspec.yaml
Labels: bug

#434 BFF-1474 Adjusted the notification setup for iOS to redirect the user
  ios/Runner/AppDelegate.swift
  lib/core/notification/notification_service.dart
Labels: bug

#436 BFF-1471 Open app from external link to a certain page using the path
  lib/app/routes/app_router.dart
  lib/app/routes/pages.dart
  lib/features/give/pages/home_page.dart
  lib/shared/widgets/loading_page.dart
  lib/shared/widgets/splash_screen.dart
  lib/shared/widgets/widgets.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#432 BFF-1352 Always use the recurring donation start date
  lib/features/recurring_donations/detail/pages/recurring_donations_detail_page.dart
Labels: bug

#438 BFF-1433 Added scrollchildview to scroll form
  lib/features/registration/pages/signup_page.dart
Labels: bug

#439 BFF-1196 Added report missing organization to the list
  lib/features/give/pages/organization_list_page.dart
  lib/shared/widgets/about_givt_bottom_sheet.dart
Labels: enhancement

#440 BFF-1431 Pop empty page when the browser has been opened
  lib/features/give/pages/giving_page.dart
Labels: bug

#442 BFF-1479 Removed set state on change
  lib/shared/widgets/about_givt_bottom_sheet.dart
Labels: bug
