Repository givtnl/givt-app, pull requests merged in 2023-12, with the labels that each got.

#444 BFF-1478 Added update dialog
  lib/app/routes/app_router.dart
  lib/core/network/api_service.dart
  lib/features/give/pages/home_page.dart
  lib/shared/bloc/infra/infra_cubit.dart
  lib/shared/bloc/infra/infra_state.dart
  lib/shared/models/app_update.dart
  lib/shared/models/models.dart
  lib/shared/pages/loading_page.dart
  lib/shared/pages/pages.dart
  lib/shared/pages/splash_screen.dart
  lib/shared/repositories/infra_repository.dart
  lib/shared/widgets/widgets.dart
Labels: enhancement

#445 Improvement: Add notification case DonationApproval with page redirection
  lib/core/notification/notification_service.dart
Labels: enhancement

#446 Bug: KIDS-110-add safe area to VPC flow
  lib/app/routes/app_router.dart
  lib/features/children/create_child/pages/create_child_page.dart
  lib/features/children/vpc/pages/give_vpc_main_page.dart
  lib/features/children/vpc/pages/give_vpc_page.dart
  lib/features/children/vpc/pages/vpc_intro_page.dart
  lib/features/children/vpc/pages/vpc_success_page.dart
  lib/features/children/vpc/pages/vpc_web_view_page.dart
  lib/utils/snack_bar_helper.dart
  lib/utils/utils.dart
Labels: bug

#447 BFF-1455 Updated internet checker plus dependencies as well as http
  lib/app/injection/injection.dart
  lib/core/network/api_service.dart
  lib/core/network/certificate_check_interceptor.dart
  lib/core/network/network_info.dart
  lib/core/network/token_interceptor.dart
  lib/features/first_use/pages/welcome_page.dart
  lib/features/give/pages/giving_page.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  lib/utils/app_theme.dart
  packages/http_certificate_pinning/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: bug

#448 BFF-1487 Background notifications
  lib/app/bootstrap.dart
  lib/core/notification/notification_service.dart
Labels: bug

#453 BFF-1489 Changed the index of last selected org
  lib/features/give/bloc/organisation/organisation_bloc.dart
Labels: bug

#455 BFF-1487 Redirect notification
  lib/app/bootstrap.dart
  lib/app/routes/app_router.dart
  lib/core/notification/notification_service.dart
Labels: bug

#454 BFF-1490 Overlay null issue check
  lib/features/overview/pages/overview_page.dart
Labels: bug

#456 Make it possible to click everywhere on overlay donation history
  lib/features/overview/pages/overview_page.dart
  lib/features/overview/widgets/feature_overlay.dart
Labels: bug

#461 Feature:KIDS-43 show payment info for US users
  lib/features/account_details/pages/personal_info_edit_page.dart
  lib/shared/models/user_ext.dart
Labels: enhancement

#443 BFF-992 First use dialogs
  assets/images/testimonial1.png
  assets/images/testimonial2.png
  assets/images/testimonial3.png
  assets/images/testimonial4.png
  lib/features/overview/pages/overview_page.dart
  lib/features/overview/widgets/feature_overlay.dart
  lib/features/personal_summary/overview/dialogs/dialogs.dart
  lib/features/personal_summary/overview/dialogs/first_use_summary_dialog.dart
  lib/features/personal_summary/overview/pages/personal_summary_page.dart
  lib/features/personal_summary/yearly_overview/dialogs/dialogs.dart
  lib/features/personal_summary/yearly_overview/dialogs/first_use_yearly_dialog.dart
  lib/features/personal_summary/yearly_overview/pages/yearly_overview_page.dart
  lib/shared/dialogs/givt_dialog.dart
  lib/shared/models/models.dart
  lib/shared/models/testimonials.dart
  lib/utils/app_theme.dart
  lib/utils/util.dart
Labels: enhancement

#462 BFF-1468 Monthly giving amount instead of giving amount
  lib/features/amount_presets/widgets/preset_form_field.dart
  lib/features/personal_summary/giving_goal/pages/setup_giving_goal_bottom_sheet.dart
  lib/features/personal_summary/overview/widgets/monthly_past_twelve_months_card.dart
  lib/features/personal_summary/overview/widgets/narrow_card.dart
Labels: bug

#464 BFF-1492 Adjusted feature overlay position
  lib/features/overview/widgets/feature_overlay.dart
Labels: bug

#466 Update FBP package
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/bloc/give/give_event.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#467 Added Melos for package management
  README.md
  melos.yaml
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#463 BFF-1485 Do not redirect the user to the home page if he's already there
  lib/app/routes/app_router.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  lib/utils/auth_utils.dart
Labels: bug

#469 BFF-1493 Switched the intl locale with the Platform locale name
  lib/core/logging/logging_service.dart
Labels: bug

#468 BFF-1446 Updated QR-code scanning package and extract some methods fo…
  android/gradle.properties
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/bloc/give/give_event.dart
  lib/features/give/pages/qr_code_scan_page.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement, dependencies

#475 Feature: After US registration fill in user session
  lib/features/registration/bloc/registration_bloc.dart
Labels: enhancement

#476 feature: Refresh session after EU registration
  lib/features/registration/bloc/registration_bloc.dart
Labels: enhancement

#477 Improvement: KIDS-160 Replace box height with padded limit
  lib/features/children/parental_approval/dialogs/parental_approval_dialog.dart
  lib/features/children/parental_approval/widgets/parental_approval_confirmation_page.dart
  lib/features/children/parental_approval/widgets/parental_approval_loading_page.dart
Labels: enhancement

#482 BFF-1492 Adjusted overlay text and circle
  lib/features/overview/widgets/feature_overlay.dart
  lib/features/overview/widgets/inverted_clipper.dart
Labels: bug

#481 BFF-1468 update dialog
  lib/features/give/pages/home_page.dart
  lib/shared/bloc/infra/infra_cubit.dart
  lib/shared/models/app_update.dart
  lib/shared/repositories/infra_repository.dart
Labels: bug

#491 Feature: Kids-178 Simplify US registration Flow
  lib/features/give/pages/home_page.dart
  lib/features/registration/pages/credit_card_details_page.dart
  lib/features/registration/pages/personal_info_page.dart
  lib/features/registration/pages/signup_page.dart
  lib/l10n/arb/app_de.arb
  lib/l10n/arb/app_en.arb
  lib/l10n/arb/app_en_US.arb
  lib/l10n/arb/app_nl.arb
  lib/utils/util.dart
Labels: enhancement

#489 BFF-1350 Adjusted decimal amount in dialogs
  lib/app/app.dart
  lib/features/give/widgets/choose_amount.dart
  lib/features/personal_summary/overview/widgets/annual_bar_chart.dart
  lib/features/recurring_donations/create/widgets/create_recurring_donation_bottom_sheet.dart
Labels: bug

#488 BFF-1154 Localized popup strings
  lib/features/recurring_donations/cancel/widgets/cancel_recurring_donation_confirmation_dialog.dart
  lib/shared/dialogs/givt_dialog.dart
  lib/shared/widgets/donation_type_sheet.dart
Labels: bug

#490 BFF-957 Changed add collection button color and refactor widgets
  lib/features/give/widgets/add_colletion_button.dart
  lib/features/give/widgets/choose_amount.dart
  lib/features/give/widgets/collection_form_field.dart
  lib/features/give/widgets/widgets.dart
Labels: bug

#487 BFF-968 Made discover page text bigger
  lib/features/give/widgets/filter_suggestion_card.dart
Labels: bug
