Repository givtnl/givt-app, pull requests merged in 2024-11, with the labels that each got.

#1229 Save stats after confetti + rounds finished
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
Labels: bug

#1231 Feat: Implement generic push notification redirection (KIDS-1589)
  lib/core/notification/notification_service.dart
Labels: enhancement

#1233 FIX: Emit state if top up failed (kids-1538)
  lib/features/children/add_member/cubit/add_member_cubit.dart
  lib/features/children/add_member/cubit/add_member_state.dart
  lib/features/children/add_member/widgets/add_member_loading_page.dart
Labels: bug

#1234 Feat: Migrate preferred church to box origin (kids-1569)
  lib/app/injection/injection.dart
  lib/core/enums/amplitude_events.dart
  lib/core/network/api_service.dart
  lib/features/children/overview/widgets/cancel_allowance_dialog.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/auth/pages/family_login_page.dart
  lib/features/family/features/box_origin/box_origin_selection_page.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/usecases/box_origin_usecase.dart
  lib/features/family/features/home_screen/usecases/preferred_church_usecase.dart
  lib/features/family/features/home_screen/usecases/registration_usecase.dart
  lib/features/family/features/home_screen/widgets/gratitude_game_button.dart
  lib/features/family/features/impact_groups/widgets/dialogs/box_origin_outcome_dialog.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/shared/design/components/content/content.dart
  lib/features/family/shared/design/components/content/fun_organisation_filter_tile_bar.dart
  lib/features/give/pages/bt_scan_page.dart
  lib/features/impact_groups/models/impact_group.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: enhancement

#1236 Bug: When secret word is guessed and game is finished still emit data to update UI (kids-1648)
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
Labels: bug

#1235 Move to new giving cubit and endpoint for US adults (kids-1499 & kids-1501)
  lib/app/routes/app_router.dart
  lib/app/routes/pages.dart
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/giving_flow/create_transaction/models/transaction.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/parent_giving_flow/cubit/give_cubit.dart
  lib/features/family/features/parent_giving_flow/cubit/give_state.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/give/models/givt_transaction.dart
  lib/features/impact_groups/pages/impact_group_details_page.dart
  lib/features/impact_groups/widgets/impact_group_details_bottom_panel.dart
  lib/features/impact_groups/widgets/impact_group_details_expandable_description.dart
  lib/features/impact_groups/widgets/impact_group_details_header.dart
Labels: enhancement

#1237 Fix: Button padding and search feature for box origin (KIDS-1569)
  lib/features/family/features/box_origin/box_origin_selection_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/family/shared/design/components/content/fun_organisation_filter_tile_bar.dart
  lib/shared/bloc/organisation/organisation_bloc.dart
Labels: bug

#1240 use latest connection_checker plugin
  pubspec.yaml
Labels: chore

#1239 Feature: setup bedtime screens (kids-1617)
  assets/family/images/buildings_low.png
  assets/family/images/buildings_mid.png
  assets/family/images/city_purple.svg
  assets/family/images/ellipse_arc.svg
  assets/family/images/sun_arc.png
  assets/family/images/sun_ellipse.svg
  assets/lotties/hero_background_lottie.json
  lib/core/enums/amplitude_events.dart
  lib/core/network/api_service.dart
  lib/features/children/add_member/pages/add_family_counter_page.dart
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/widgets/family_member_form.dart
  lib/features/children/edit_child/repositories/edit_child_repository.dart
  lib/features/children/overview/pages/add_top_up_page.dart
  lib/features/children/overview/pages/edit_allowance_page.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/avatars/widgets/avatar_item.dart
  lib/features/family/features/bedtime/blocs/setup_bedtime_cubit.dart
  lib/features/family/features/bedtime/presentation/models/bedtime.dart
  lib/features/family/features/bedtime/presentation/models/bedtime_arguments.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
  lib/features/family/features/bedtime/presentation/widgets/bedtime_slider_widget.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/guess_the_word_custom.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/components/input/fun_counter.dart
  lib/features/family/shared/design/components/input/fun_slider.dart
  lib/features/family/shared/design/components/input/input.dart
  lib/features/family/shared/design/theme/fun_text_styles.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/common_icons.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1245 Bug: EU sometimes sees setup family screen (KIDS-1673)
  lib/features/splash/cubit/splash_cubit.dart
Labels: bug

#1246 Login bugs (KIDS-1674)
  lib/features/email_signup/cubit/email_signup_cubit.dart
  lib/features/email_signup/cubit/email_signup_custom.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/utils/family_auth_utils.dart
Labels: bug

#1244 Bug: fix endless spinner on app startup when setting up push fails
  lib/core/notification/notification_service.dart
Labels: bug

#1247 Bug: Update AuthCubit to FamilyAuthCubit in US pages (kids-1678 & kids-1667)
  lib/app/routes/app_router.dart
  lib/features/children/details/pages/child_details_page.dart
  lib/features/children/details/widgets/child_details_item.dart
  lib/features/children/edit_child/pages/edit_child_page.dart
  lib/features/children/family_goal/pages/create_family_goal_amount_page.dart
  lib/features/children/family_goal/widgets/family_goal_circle.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/children/overview/widgets/profile_overview_tile.dart
  lib/features/family/features/creditcard_setup/pages/credit_card_details.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/give/pages/home_page.dart
Labels: bug

#1248 solve pushnotification and startup loading errors (KIDS-1679)
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/registration/cubit/us_signup_cubit.dart
Labels: enhancement

#1249 Bug: restarting registration goes to wrong add member screen
  lib/features/splash/pages/splash_page.dart
Labels: bug

#1250 Bug: Fix setup biometrics screens not showing up in registration anymore (KIDS-1668)
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/registration/pages/us_signup_page.dart
  lib/features/permit_biometric/pages/family_permit_biometric_page.dart
  lib/features/splash/pages/splash_page.dart
Labels: bug

#1252 Biometrics fixes EU/US
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/helpers/logout_helper.dart
Labels: bug

#1253 Bug: Fix multiple box origin pop ups (KIDS-1670)
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/widgets/impact_group_recieve_invite_sheet.dart
Labels: bug

#1256 Add question number to interview UI model and update related screens (KIDS-1647)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/presentation/models/interview_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
Labels: enhancement

#1259 Improve button tap states
  lib/shared/widgets/action_container.dart
Labels: chore

#1260 Update isEnabled state for amount presets (KIDS-1666)
  lib/features/auth/repositories/auth_repository.dart
Labels: bug

#1261 Remove setup family screen (KIDS-1420)
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/overview/widgets/no_children_page.dart
Labels: chore

#1262 Remove auth on US personal info page - you are already verified (KIDS-760)
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
Labels: enhancement

#1263 Bug: Fix grateful recommendations order (kids-1680)
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
Labels: bug

#1264 Feature: Implement yes no screen without design for now (KIDS-1686)
  .vscode/launch.json
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/gratitude-summary/bloc/yesno-cubit.dart
  lib/features/family/features/gratitude-summary/domain/repositories/summary_repository.dart
  lib/features/family/features/gratitude-summary/presentation/pages/yesno_screen.dart
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1266 Feature: fetch summary api call (KIDS-1700)
  lib/features/family/features/gratitude-summary/domain/models/summary_item.dart
  lib/features/family/features/gratitude-summary/domain/repositories/summary_repository.dart
  lib/features/family/features/gratitude-summary/presentation/models/summary_uimodel.dart
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1267 Feature: show latest summary with placeholder ui (KIDS-1701)
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/gratitude-summary/bloc/parent_summary_cubit.dart
  lib/features/family/features/gratitude-summary/bloc/yesno-cubit.dart
  lib/features/family/features/gratitude-summary/data/models/parent_summary_response.dart
  lib/features/family/features/gratitude-summary/domain/models/parent_summary_item.dart
  lib/features/family/features/gratitude-summary/domain/repositories/parent_summary_repository.dart
  lib/features/family/features/gratitude-summary/presentation/models/parent_summary_uimodel.dart
  lib/features/family/features/gratitude-summary/presentation/pages/parent_summary_screen.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/summary_chat_bubble.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/summary_conversation_item.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/summary_conversation_list.dart
Labels: enhancement

#1271 Feature: pass gameid on donation part 2 (KIDS-1699)
  lib/features/family/app/injection.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/parent_giving_flow/cubit/give_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1258 Update category/tags (KIDS-1652)
  lib/features/family/features/reflect/data/gratitude_tags_data.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
Labels: enhancement

#1254 Update styling of family biometrics page (KIDS-1321)
  assets/family/images/face_id_image.svg
  lib/features/family/shared/design/components/navigation/fun_top_app_bar.dart
  lib/features/permit_biometric/pages/family_permit_biometric_page.dart
Labels: chore

#1277 Add stats to homepage, refresh stats after playing a game (KIDS-1435)
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/widgets/stats_chip.dart
  lib/features/family/features/home_screen/widgets/stats_container.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/domain/models/game_stats.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1278 Small improvements to game stats
  lib/features/family/features/home_screen/widgets/stats_container.dart
Labels: bug

#1276 Use AI to summarise changelog :)
  .github/workflows/release-drafter.yml
Labels: chore

#1279 Feature: Only 2 random questions asked by reporters, regardless of nr of players (KIDS-1654)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: enhancement

#1280 Bug: Fix redirection after last question (kids-1654)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
Labels: bug

#1282 Bug: Crash on mission accept screen (kids-1712)
  lib/core/enums/country.dart
  lib/features/family/features/bedtime/presentation/pages/mission_acceptance_screen.dart
Labels: bug

#1283 clear game stats everywhere on logout/user change (KIDS-1710)
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/helpers/logout_helper.dart
Labels: bug

#1275 Feature: Intro to bedtime animations (kids-1616)
  assets/family/images/city_day.svg
  assets/family/lotties/super_flare.json
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/bedtime/presentation/pages/intro_bedtime_screen.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1284 Fix: add background color for mission acceptance
  lib/features/family/features/bedtime/presentation/pages/mission_acceptance_screen.dart
Labels: bug

#1285 Improve SetupBedtime transitions and remove back button
  lib/features/family/features/bedtime/presentation/pages/intro_bedtime_screen.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
Labels: bug

#1287 Bug: Get gamestats on cubit init (kids-1710)
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
Labels: bug

#1292 Feature: change redirection for leave game button (KIDS-1609)
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/widgets/stats_container.dart
  lib/features/family/features/reflect/bloc/generous_selection_cubit.dart
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/presentation/pages/generous_selection_screen.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_dialog.dart
Labels: enhancement

#1293 Feature: Finish summary screen (kids-1709)
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
Labels: enhancement

#1294 Feature: Use same audio player for both in game and after game summary (kids-1708)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/gratitude-summary/presentation/pages/parent_summary_screen.dart
  lib/features/family/features/gratitude-summary/presentation/pages/record_summary_message_.bottomsheet.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/audio_player.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
Labels: enhancement

#1296 Bug: fix renderflex overflow issue family home screen & fix navigation bar color gratitude game (KIDS-1715)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
Labels: bug

#1297 Bug: You can swipe back on the success screen when you gave (KIDS-1584)
  lib/features/family/features/coin_flow/screens/success_coin_screen.dart
  lib/features/family/features/giving_flow/screens/success_screen.dart
Labels: bug

#1298 Bug: Remove last q twice and always show confetti (kids-1718)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1299 Feature: fix audiofile upload (kids-1714)
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1300 Bug: do not show latest summary button on homescreen when it isnt available (KIDS-1717)
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/gratitude-summary/bloc/parent_summary_cubit.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/widgets/give_button.dart
  lib/features/family/features/home_screen/widgets/gratitude_game_button.dart
Labels: bug
