Repository givtnl/givt-app, pull requests merged in 2024-04, with the labels that each got.

#654 Suggestion to enable biometric after login is implemented (KIDS-692)
  lib/app/routes/app_router.dart
  lib/core/enums/amplitude_events.dart
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/pages/login_page.dart
  lib/features/give/pages/organization_list_page.dart
  lib/features/give/widgets/choose_amount.dart
  lib/features/permit_biometric/cubit/permit_biometric_cubit.dart
  lib/features/permit_biometric/cubit/permit_biometric_state.dart
  lib/features/permit_biometric/models/permit_biometric_request.dart
  lib/features/permit_biometric/pages/permit_biometric_page.dart
  lib/features/registration/pages/credit_card_details_page.dart
  lib/features/registration/pages/gift_aid_request_page.dart
  lib/features/registration/pages/sign_sepa_mandate_page.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  lib/utils/auth_utils.dart
  lib/utils/biometrics_helper.dart
  lib/utils/utils.dart
Labels: enhancement

#655 Givt app launches as expected after biometrics was switched off (KIDS-748)
  lib/shared/pages/fingerprint_bottom_sheet.dart
Labels: bug

#656 Revert change
  lib/app/routes/app_router.dart
Labels: bug

#659 The new biometricCheck AuthStatus and logic based on it is implemented (KIDS-748)
  lib/app/routes/app_router.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/cubit/auth_state.dart
  lib/features/auth/pages/login_page.dart
  lib/features/permit_biometric/pages/permit_biometric_page.dart
  lib/utils/auth_utils.dart
Labels: bug

#663 Add email and description to the add member form (KIDS-710, KIDS-713)
  lib/features/children/add_member/cubit/add_member_cubit.dart
  lib/features/children/add_member/models/member.dart
  lib/features/children/add_member/widgets/add_member_form.dart
  lib/l10n/arb/app_de.arb
  lib/l10n/arb/app_en.arb
  lib/l10n/arb/app_en_US.arb
  lib/l10n/arb/app_nl.arb
Labels: enhancement

#665 Generosity challenge closed loop is implemented (KIDS-751, KIDS-750, KIDS-755)
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/app/routes/pages.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_cubit.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_state.dart
  lib/features/children/generosity_challenge/models/day.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
  lib/features/children/generosity_challenge/repositories/generosity_challenge_repository.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_helper.dart
  lib/features/children/generosity_challenge/widgets/day_item_placeholder.dart
Labels: enhancement

#667 Disable push notifications for generosity challenge (KIDS-756)
  lib/core/notification/notification_service.dart
Labels: enhancement

#668 Migrate Action Container and Givt Elevated button from G4K
  assets/fonts/Rouna/Rouna-web-license.pdf
  assets/fonts/Rouna/rouna-bold-webfont.ttf
  assets/fonts/Rouna/rouna-medium-webfont.ttf
  assets/fonts/Rouna/rouna-regular-webfont.ttf
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/givt_elevated_button.dart
  pubspec.yaml
Labels: enhancement

#664 Accept an invitation to an impact group (for existing users KIDS-724, temp users KIDS-725, and new users KIDS-722)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/app/routes/pages.dart
  lib/core/enums/amplitude_events.dart
  lib/core/network/api_service.dart
  lib/features/children/add_member/widgets/download_g4k_button.dart
  lib/features/children/add_member/widgets/success_add_member_page.dart
  lib/features/children/overview/widgets/download_givt_for_kids_app_widget.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
  lib/features/impact_groups/cubit/impact_groups_state.dart
  lib/features/impact_groups/impact_group_join_success_page.dart
  lib/features/impact_groups/impact_group_recieve_invite_sheet.dart
  lib/features/impact_groups/models/impact_group.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
  lib/utils/util.dart
  packages/http_certificate_pinning/lib/src/http_certificate_pinning.dart
Labels: enhancement

#669 Implement generosity challenge activity screen (kids-754)
  assets/images/generosity_challenge_placeholder.svg
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/features/children/generosity_challenge/widgets/generosity_challenge_daily_card.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/givt_elevated_button.dart
  lib/utils/app_theme.dart
Labels: enhancement

#671 Generosity challenge content storage is implemented (KIDS-752)
  lib/features/children/generosity_challenge/models/task.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_content_helper.dart
Labels: enhancement

#670 Create the generosity challenge overview (kids-753)
  assets/images/family_avatar.svg
  assets/images/generosity_challenge_backdrop.svg
  devtools_options.yaml
  lib/features/children/generosity_challenge/models/color_combo.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
  lib/features/children/generosity_challenge/widgets/day_button.dart
  lib/features/children/generosity_challenge/widgets/day_item_placeholder.dart
  lib/features/children/generosity_challenge/widgets/generosity_app_bar.dart
  lib/utils/app_theme.dart
Labels: enhancement

#672 Connect the generosity loop with content (Kids 749)
  lib/features/children/generosity_challenge/models/task.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_content_helper.dart
  lib/features/children/generosity_challenge/widgets/generosity_challenge_daily_card.dart
Labels: enhancement

#673 Setting GiveStatus to success if there is no nearest location found (KIDS-577)
  lib/features/give/bloc/give/give_bloc.dart
Labels: bug

#674 Use live endpoint (Kids-724)
  lib/core/network/api_service.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
  lib/features/impact_groups/impact_group_recieve_invite_sheet.dart
  lib/features/impact_groups/models/impact_group.dart
Labels: enhancement

#675 No feedback on pressed-down buttons (kids-780)
  lib/shared/widgets/action_container.dart
Labels: enhancement

#676 Refresh generosity challenge when app is re-opened (kids-779)
  lib/features/children/generosity_challenge/pages/generosity_challenge.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
Labels: bug

#677 Adding undo button for current day in challenge + Amplitude tracking (KIDS-777, KIDS-783)
  lib/core/enums/amplitude_events.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_cubit.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_state.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_active_day.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_day_details.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
  lib/features/children/generosity_challenge/widgets/day_button.dart
  lib/features/children/generosity_challenge/widgets/generosity_challenge_daily_card.dart
  lib/shared/widgets/givt_elevated_button.dart
Labels: enhancement

#678 Generosity challenge day completion feedback banner is implemented (KIDS-778)
  assets/images/generosity_challenge_feedback_badge.svg
  lib/features/children/generosity_challenge/dialogs/feedback_banner_dialog.dart
  lib/features/children/generosity_challenge/models/task.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_day_details.dart
  lib/features/children/generosity_challenge/widgets/givt_banner.dart
Labels: enhancement

#681 Fix amplitude tracking (kids-811)
  lib/features/children/generosity_challenge/pages/generosity_challenge_day_details.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
Labels: bug

#682 Use endpoint to accept invitation (kids-724)
  lib/core/network/api_service.dart
Labels: enhancement

#683 Update impact group model (kids-813)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/features/children/family_goal/pages/create_family_goal_confirmed_page.dart
  lib/features/children/family_history/widgets/pending_donation_widget.dart
  lib/features/children/goal_tracker/cubit/goal_tracker_cubit.dart
  lib/features/children/goal_tracker/cubit/goal_tracker_state.dart
  lib/features/children/goal_tracker/model/goal.dart
  lib/features/children/goal_tracker/pages/family_goal_tracker.dart
  lib/features/children/goal_tracker/repository/goal_tracker_repository.dart
  lib/features/children/goal_tracker/widgets/goal_active_widget.dart
  lib/features/children/goal_tracker/widgets/goal_completed_widget.dart
  lib/features/children/goal_tracker/widgets/gradient_progress_bar.dart
  lib/features/children/goal_tracker/widgets/no_goal_set_widget.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/children/parental_approval/widgets/parental_approval_dialog_content.dart
  lib/features/give/pages/select_giving_way_page.dart
  lib/features/give/widgets/home_goal_tracker.dart
  lib/features/impact_groups/models/group_organiser.dart
  lib/features/impact_groups/models/impact_group.dart
Labels: enhancement

#686 Show personal info registration screen to invited users (kids-822)
  lib/core/network/api_service.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
  lib/shared/models/user_ext.dart
Labels: bug

#687 Do not show biometrics for temp users (kids-823)
  lib/features/auth/cubit/auth_cubit.dart
Labels: bug

#688 Update invited user logic (kids-822)
  lib/shared/models/user_ext.dart
Labels: bug

#689 do not fetch impact groups while already fetching
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
Labels: bug

#701 Give to the family goal is removed as a way of giving (KIDS-781)
  lib/core/enums/amplitude_events.dart
  lib/features/give/pages/select_giving_way_page.dart
Labels: enhancement

#702 Tab bar navigation issue is fixed (KIDS-895)
  lib/features/give/pages/home_page.dart
Labels: bug

#703 Show offline success page (kids-905)
  lib/features/give/pages/organization_list_page.dart
  lib/features/impact_groups/pages/impact_group_details_page.dart
Labels: bug

#705 Switch to groups endpoint as a data source for family goal & overview (kids-889)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/core/network/api_service.dart
  lib/features/children/family_goal/pages/create_family_goal_confirmed_page.dart
  lib/features/children/family_goal/pages/family_goal_tracker.dart
  lib/features/children/family_goal/pages/goal_active_widget.dart
  lib/features/children/family_goal/pages/goal_completed_widget.dart
  lib/features/children/family_goal/pages/no_goal_set_widget.dart
  lib/features/children/family_history/widgets/pending_donation_widget.dart
  lib/features/children/goal_tracker/cubit/goal_tracker_cubit.dart
  lib/features/children/goal_tracker/cubit/goal_tracker_state.dart
  lib/features/children/goal_tracker/pages/family_goal_tracker.dart
  lib/features/children/goal_tracker/repository/goal_tracker_repository.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/children/parental_approval/widgets/parental_approval_dialog_content.dart
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
  lib/features/impact_groups/cubit/impact_groups_state.dart
  lib/features/impact_groups/models/goal.dart
  lib/features/impact_groups/models/impact_group.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_bar.dart
Labels: chore

#706 Refetch groups after browser closure (kids-900)
  lib/features/give/pages/giving_page.dart
Labels: bug

#708 Generosity challenge introduction by mayor (kids-872)
  assets/images/mayor.svg
  lib/app/routes/app_router.dart
  lib/app/routes/pages.dart
  lib/core/network/country_iso_info.dart
  lib/features/auth/pages/email_signup_page.dart
  lib/features/children/generosity_challenge/pages/introduction_screen.dart
  lib/features/registration/pages/signup_page.dart
  lib/features/registration/widgets/acceptPolicyRow.dart
  lib/shared/widgets/givt_elevated_button.dart
  lib/utils/app_theme.dart
  lib/utils/util.dart
Labels: enhancement
