Repository givtnl/givt-app, pull requests merged in 2024-08, with the labels that each got.

#934 Add generic bottomsheet and implementation for empty wallet situations (KIDS-1238)
  assets/images/wallet_empty.svg
  lib/features/family/features/profiles/screens/profile_screen.dart
  lib/features/family/features/profiles/widgets/action_tile.dart
  lib/features/family/features/profiles/widgets/empty_wallet_bottom_sheet.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
  lib/shared/widgets/common_icons.dart
Labels: enhancement

#936 Add option for topup (KIDS-1239)
  lib/app/app.dart
  lib/features/children/add_member/widgets/add_member_form.dart
  lib/features/children/overview/pages/add_top_up_page.dart
  lib/features/children/overview/pages/edit_allowance_page.dart
  lib/features/children/overview/widgets/edit_allowance_widget.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/topup/cubit/topup_cubit.dart
  lib/features/family/features/topup/cubit/topup_state.dart
  lib/features/family/features/topup/repository/topup_repository.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_error_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_loading_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_success_bottom_sheet.dart
  lib/features/family/network/api_service.dart
  lib/features/family/shared/widgets/content/amount_counter.dart
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
  lib/features/family/utils/family_app_theme.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/buttons/custom_icon_border_button.dart
  lib/shared/widgets/common_icons.dart
Labels: enhancement

#938 Remove all quick flow references (KIDS-1250)
  lib/features/children/generosity_challenge/cubit/generosity_challenge_cubit.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_state.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_day_details.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_introduction.dart
  lib/features/children/generosity_challenge/repositories/chat_scripts_asset_repository.dart
  lib/features/children/generosity_challenge/repositories/chat_scripts_repository.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_content_helper.dart
  lib/features/family/shared/widgets/content/amount_counter.dart
  lib/features/give/pages/home_page.dart
Labels: enhancement

#937 Add option to setup allowance instead of topup (KIDS-1251)
  lib/features/children/overview/models/wallet.dart
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/topup/cubit/topup_cubit.dart
  lib/features/family/features/topup/cubit/topup_state.dart
  lib/features/family/features/topup/repository/topup_repository.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/network/api_service.dart
  lib/features/family/shared/widgets/inputs/input_checkbox.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#939 Make button part of column to unblock password field (KIDS-976)
  lib/features/auth/pages/login_page.dart
Labels: bug

#940 Amplitude tracking added in a generic way (KIDS-1254)
  lib/core/enums/amplitude_events.dart
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_error_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_success_bottom_sheet.dart
  lib/features/family/shared/widgets/inputs/input_checkbox.dart
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
  lib/shared/widgets/buttons/givt_elevated_button.dart
  lib/shared/widgets/buttons/givt_elevated_secondary_button.dart
Labels: enhancement

#944 Feature: Display parent avatars on profile selection screen (kids-1259)
  lib/core/enums/amplitude_events.dart
  lib/features/children/overview/cubit/family_overview_state.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/profiles/widgets/profile_item.dart
Labels: enhancement

#946 Add an error state to BaseState for convenience
  lib/shared/bloc/base_state.dart
  lib/shared/widgets/base/base_state_consumer.dart
Labels: enhancement

#949 Fix: Empty wallet in external coin flow (kids-1255)
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
Labels: enhancement

#950 Fix: do not display parents on external coin giving
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
Labels: enhancement

#952 Fix: Provider of Camera Cubit Issue
  lib/features/children/generosity_challenge/widgets/day5_picture_attachment_buttons.dart
  lib/features/family/features/qr_scanner/presentation/camera_screen.dart
  lib/features/family/features/qr_scanner/widgets/camera_permissions_dialog.dart
Labels: bug

#953 Fix: change layout to support small phones/big text (kids-732)
  lib/features/auth/pages/change_password_page.dart
Labels: bug

#942 Improve: Use phone nr instead of email for GC registration (kids-1213 & kids-1237)
  assets/jsons/generosity_challenge/chat_scripts/chat_script_day_0.json
  lib/app/routes/app_router.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/children/generosity_challenge/cubit/generosity_challenge_vpc_setup_cubit.dart
  lib/features/children/generosity_challenge/domain/models/generosity_registration_result.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_introduction.dart
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/children/generosity_challenge/repositories/generosity_challenge_repository.dart
  lib/features/children/generosity_challenge/repositories/generosity_challenge_vpc_repository.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_helper.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/models/enums/chat_script_input_answer_type.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/models/enums/chat_script_save_key.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/utils/chat_script_registration_handler.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/widgets/chat_input_field.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/pages/personal_info_page.dart
  lib/features/registration/pages/signup_page.dart
  lib/utils/util.dart
Labels: bug

#955 Fix: external coin flow (kids-1255)
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
Labels: bug

#956 Feature: Part 1 of implement list option (kids 1261)
  assets/family/images/church_tile_icon.svg
  lib/features/children/generosity_challenge/assignments/day4_timer/widgets/how_many_tasks_widget.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/profiles/widgets/action_tile.dart
  lib/features/family/shared/widgets/buttons/tiles/campaign_tile.dart
  lib/features/family/shared/widgets/buttons/tiles/charity_tile.dart
  lib/features/family/shared/widgets/buttons/tiles/church_tile.dart
  lib/features/family/shared/widgets/buttons/tiles/quick_tile.dart
  lib/features/family/shared/widgets/inputs/family_search_field.dart
  lib/features/family/utils/family_app_theme.dart
  lib/features/give/pages/organization_list_family_page.dart
Labels: enhancement

#958 Fix: Phone nr instead of emailm(kids-1285)
  lib/features/children/generosity_challenge/cubit/generosity_challenge_vpc_setup_cubit.dart
  lib/features/children/generosity_challenge/cubit/generosity_striple_registration_cubit.dart
  lib/features/children/generosity_challenge/utils/generosity_challenge_helper.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/utils/chat_script_registration_handler.dart
Labels: bug

#957 Feature: implement give list part 2 (kids 1261)
  lib/core/enums/amplitude_events.dart
  lib/core/enums/collect_group_type.dart
  lib/features/children/family_goal/pages/create_family_goal_amount_page.dart
  lib/features/children/family_goal/pages/create_family_goal_cause_page.dart
  lib/features/children/family_goal/pages/create_family_goal_flow_page.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/family/shared/widgets/inputs/family_search_field.dart
  lib/features/give/bloc/bloc.dart
  lib/features/give/pages/organization_list_family_page.dart
  lib/features/recurring_donations/create/widgets/create_recurring_donation_bottom_sheet.dart
  lib/shared/bloc/organisation/organisation.dart
  lib/shared/bloc/organisation/organisation_bloc.dart
  lib/shared/bloc/organisation/organisation_event.dart
  lib/shared/bloc/organisation/organisation_state.dart
Labels: enhancement

#959 Fix: tile color and hide parents (kids-1260)
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
Labels: bug

#960 Feature: Unify text styles and components (KIDS-1200)
  lib/features/children/cached_members/pages/cached_family_overview_page.dart
  lib/features/children/family_history/widgets/actioned_donation_widget.dart
  lib/features/children/family_history/widgets/allowance_item_widget.dart
  lib/features/children/family_history/widgets/pending_donation_widget.dart
  lib/features/children/family_history/widgets/topup_item_widget.dart
  lib/features/children/generosity_challenge/assignments/create_challenge_donation/widgets/slider_widget.dart
  lib/features/children/generosity_challenge/assignments/family_values/widgets/family_value_container.dart
  lib/features/children/generosity_challenge/assignments/family_values/widgets/organisation_header.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/widgets/chat_bar.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/widgets/chat_delimiter.dart
  lib/features/children/overview/widgets/allowance_warning_dialog.dart
  lib/features/children/overview/widgets/profile_overview_tile.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/impact_groups/dialogs/impact_group_details_description_dialog.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_expandable_description.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_header.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/family/features/profiles/widgets/action_tile.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/profiles/widgets/giving_option_button.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/profiles/widgets/profile_item.dart
  lib/features/family/features/profiles/widgets/wallet_widget.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_header.dart
  lib/features/family/shared/design/family_text_styles.dart
  lib/features/family/shared/widgets/buttons/givt_fab.dart
  lib/features/family/shared/widgets/content/coin_widget.dart
  lib/features/family/shared/widgets/content/wallet.dart
  lib/features/family/shared/widgets/layout/top_app_bar.dart
  lib/features/family/shared/widgets/texts/body_large_text.dart
  lib/features/family/shared/widgets/texts/body_medium_text.dart
  lib/features/family/shared/widgets/texts/body_small_text.dart
  lib/features/family/shared/widgets/texts/display_large_text.dart
  lib/features/family/shared/widgets/texts/display_medium_text.dart
  lib/features/family/shared/widgets/texts/display_small_text.dart
  lib/features/family/shared/widgets/texts/headline_large_text.dart
  lib/features/family/shared/widgets/texts/headline_medium_text.dart
  lib/features/family/shared/widgets/texts/headline_small_text.dart
  lib/features/family/shared/widgets/texts/label_large_text.dart
  lib/features/family/shared/widgets/texts/label_medium_text.dart
  lib/features/family/shared/widgets/texts/label_small_text.dart
  lib/features/family/shared/widgets/texts/shared_texts.dart
  lib/features/family/shared/widgets/texts/title_large_text.dart
  lib/features/family/shared/widgets/texts/title_medium_text.dart
  lib/features/family/shared/widgets/texts/title_small_text.dart
  lib/features/family/utils/family_app_theme.dart
  lib/shared/widgets/buttons/givt_elevated_button.dart
  lib/shared/widgets/buttons/givt_elevated_secondary_button.dart
Labels: enhancement

#963 Do not show artists when giving as a parent.
  lib/features/family/shared/widgets/buttons/tiles/filter_tile.dart
Labels: enhancement

#964 Feature: improve email validation (KIDS-1245)
  lib/utils/util.dart
Labels: enhancement

#965 Fix: Giving as parent by list (kids-1262)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/parent_giving_flow/cubit/medium_cubit.dart
  lib/features/family/features/parent_giving_flow/cubit/medium_state.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
Labels: enhancement

#967 Feat: Add new sunday notification type (kids-1296)
  lib/core/notification/notification_service.dart
Labels: enhancement

#968 Feature: Fix slow loading part 2 (KIDS-1276) & child details not refreshing (KIDS-1194)
  lib/app/injection/injection.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/children/details/cubit/child_details_cubit.dart
  lib/features/children/edit_child/repositories/edit_child_repository.dart
  lib/features/children/family_goal/pages/family_goal_tracker.dart
  lib/features/children/family_goal/repositories/create_family_goal_repository.dart
  lib/features/children/family_history/family_history_cubit/family_history_cubit.dart
  lib/features/children/family_history/repository/family_history_repository.dart
  lib/features/children/overview/cubit/family_overview_cubit.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/children/parental_approval/repositories/parental_approval_repository.dart
  lib/features/children/parental_approval/widgets/parental_approval_dialog_content.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/give/repositories/campaign_repository.dart
  lib/features/impact_groups/cubit/impact_groups_cubit.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
  lib/shared/repositories/givt_repository.dart
Labels: enhancement

#969 Feature: Fix slow loading part 3 (KIDS-1276)
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/give/repositories/campaign_repository.dart
  lib/features/registration/pages/credit_card_details_page.dart
Labels: enhancement

#971 Bug/registration setup family loop bug
  lib/features/children/add_member/repository/add_member_repository.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: bug

#970 Feat: Update let's begin styling (kids-1268)
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/pages/login_page.dart
  lib/features/auth/widgets/country_dropdown.dart
  lib/features/family/features/auth/pages/family_login_page.dart
  lib/features/family/shared/widgets/inputs/family_search_field.dart
  lib/features/family/utils/family_app_theme.dart
  lib/features/first_use/pages/welcome_page.dart
  lib/shared/widgets/outlined_input_borders.dart
  lib/shared/widgets/outlined_text_form_field.dart
  lib/shared/widgets/widgets.dart
  lib/utils/auth_utils.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#973 Feat: Smiley counter page and widget (kids-1271)
  assets/family/images/smiley_purple.svg
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/widgets/smiley_counter.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/overview/widgets/no_children_page.dart
  lib/features/family/shared/widgets/content/amount_counter.dart
  lib/shared/widgets/common_icons.dart
Labels: enhancement

#974 Feat: Create family member form components (kids-1272)
  assets/family/images/smiley_grey.svg
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/pages/add_member_form_page.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/add_member/pages/member_main_scaffold_page.dart
  lib/features/children/add_member/widgets/child_or_parent_selector.dart
  lib/features/children/add_member/widgets/family_member_form.dart
  lib/features/children/add_member/widgets/smiley_counter.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/shared/widgets/common_icons.dart
  lib/shared/widgets/outlined_input_borders.dart
Labels: enhancement

#976 Bug: Manage family screen is not updated after topup (KIDS-1306)
  lib/features/family/features/profiles/repository/profiles_repository.dart
Labels: bug

#977 Bug: Fix various reported crashes (KIDS-1307)
  lib/core/notification/notification_service.dart
  lib/features/children/details/cubit/child_details_cubit.dart
  lib/features/children/details/widgets/child_giving_allowance_card.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/pages/bt_scan_page.dart
  lib/features/give/pages/gps_scan_page.dart
  lib/features/give/pages/qr_code_scan_page.dart
  lib/shared/repositories/givt_repository.dart
Labels: bug

#978 Fix: Registration styling issues (kids-1303)
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/widgets/country_dropdown.dart
  lib/features/auth/widgets/terms_and_conditions_dialog.dart
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/children/overview/widgets/no_children_page.dart
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
  lib/features/first_use/pages/welcome_page.dart
  lib/features/permit_biometric/pages/permit_biometric_page.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/registration/widgets/accept_policy_row_us.dart
  lib/features/registration/widgets/registered_check_animation.dart
  lib/features/registration/widgets/us_mobile_number_form_field.dart
  lib/l10n/arb/app_en.arb
  lib/l10n/arb/app_en_US.arb
Labels: bug

#979 More styling updates (KIDS-1303)
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/widgets/country_dropdown.dart
  lib/features/auth/widgets/terms_and_conditions_dialog.dart
  lib/features/children/family_goal/pages/family_goal_tracker.dart
  lib/features/children/family_goal/pages/goal_active_widget.dart
  lib/features/children/family_history/family_history.dart
  lib/features/children/family_history/widgets/actioned_donation_widget.dart
  lib/features/children/family_history/widgets/allowance_item_widget.dart
  lib/features/children/family_history/widgets/pending_donation_widget.dart
  lib/features/children/family_history/widgets/topup_item_widget.dart
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/children/generosity_challenge/widgets/generosity_app_bar.dart
  lib/features/children/overview/pages/add_top_up_page.dart
  lib/features/children/overview/pages/edit_allowance_page.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/overview/widgets/family_available_page.dart
  lib/features/children/overview/widgets/no_children_page.dart
  lib/features/children/overview/widgets/profiles_overview_widget.dart
  lib/features/family/features/auth/pages/family_login_page.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/home_screen/widgets/kids_home_screen_app_bar.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
  lib/features/family/shared/widgets/layout/top_app_bar.dart
  lib/features/family/utils/family_app_theme.dart
  lib/features/first_use/pages/welcome_page.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/family_scaffold.dart
  lib/shared/widgets/outlined_text_form_field.dart
Labels: bug

#980 fix: bottomsheet styling (kids-1309)
  lib/features/registration/widgets/accept_policy_row_us.dart
  lib/features/registration/widgets/stripe_info_sheet.dart
Labels: bug

#981 Bug: Fix wallet not updating after giving (KIDS-1311)
  lib/app/injection/injection.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/giving_flow/create_transaction/repositories/create_transaction_repository.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: enhancement

#982 Fix layout issue with bottomsheets without close bottom
  lib/features/family/shared/widgets/layout/givt_bottom_sheet.dart
Labels: bug

#983 Bug/walllet not updating after empty wallet topup
  lib/features/family/app/injection.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/topup/cubit/topup_cubit.dart
  lib/features/family/features/topup/repository/topup_repository.dart
Labels: bug

#984 Fix: navigation issues (kids-1305)
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/family/features/home_screen/widgets/kids_home_screen_app_bar.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/registration/pages/credit_card_details_page.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#986 Fix: If new member is child, fetch profile again after 1 sec (kids-1314)
  lib/features/children/add_member/repository/add_member_repository.dart
Labels: bug

#988 Bug: Data not updating correctly on logout account switch (KIDS-1310)
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: bug

#992 Fix typo in title US registration (KIDS-1316)
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#990 First replacement of AppTheme colors to FamilyAppTheme + Cleanup of AppTheme files
  lib/app/injection/injection.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/utils/chat_script_registration_handler.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/coin_flow/screens/success_coin_screen.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_goal_screen.dart
  lib/features/family/features/giving_flow/screens/success_screen.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/home_screen/widgets/custom_navigation_bar.dart
  lib/features/family/features/home_screen/widgets/kids_home_screen_app_bar.dart
  lib/features/family/features/impact_groups/dialogs/impact_group_details_description_dialog.dart
  lib/features/family/features/impact_groups/widgets/goal_card.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_bottom_panel.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_header.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/organisation_list_family_page.dart
  lib/features/family/features/profiles/screens/profile_screen.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/action_tile.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/profiles/widgets/profile_item.dart
  lib/features/family/features/profiles/widgets/wallet_widget.dart
  lib/features/family/features/qr_scanner/presentation/camera_screen.dart
  lib/features/family/features/recommendation/interests/screens/interests_selection_screen.dart
  lib/features/family/features/recommendation/interests/widgets/interests_tally.dart
  lib/features/family/features/recommendation/organisations/screens/organisations_screen.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/recommendation/tags/models/areas.dart
  lib/features/family/shared/widgets/buttons/givt_back_button_flat.dart
  lib/features/family/shared/widgets/buttons/givt_close_button.dart
  lib/features/family/shared/widgets/content/amount_counter.dart
  lib/features/family/shared/widgets/content/givt_banner.dart
  lib/features/family/shared/widgets/content/wallet.dart
  lib/features/family/shared/widgets/dialogs/something_went_wrong_dialog.dart
  lib/features/family/shared/widgets/goal_progress_bar/goal_progress_bar.dart
  lib/features/family/shared/widgets/goal_progress_bar/goal_progress_bar_label.dart
  lib/features/family/shared/widgets/inputs/family_search_field.dart
  lib/features/family/shared/widgets/layout/action_container.dart
  lib/features/family/shared/widgets/layout/top_app_bar.dart
  lib/features/family/shared/widgets/loading/custom_progress_indicator.dart
  lib/features/family/utils/family_app_theme.dart
  lib/utils/app_theme.dart
Labels: enhancement

#991 Replacement of textstyles by components (not everything, but at least a good start :))
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/family/features/avatars/screens/parent_avatar_selection_screen.dart
  lib/features/family/features/coin_flow/screens/success_coin_screen.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_goal_screen.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/giving_flow/screens/success_screen.dart
  lib/features/family/features/giving_flow/widgets/family_goal_widget.dart
  lib/features/family/features/giving_flow/widgets/organisation_widget.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/impact_groups/pages/impact_group_details_page.dart
  lib/features/family/features/impact_groups/widgets/goal_card.dart
  lib/features/family/features/impact_groups/widgets/no_goals_widget.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/profiles/widgets/profiles_empty_state_widget.dart
  lib/features/family/features/qr_scanner/widgets/camera_screen_frame.dart
  lib/features/family/features/recommendation/interests/screens/interests_selection_screen.dart
  lib/features/family/features/recommendation/organisations/screens/organisations_screen.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/recommendation/tags/screens/location_selection_screen.dart
  lib/features/family/features/scan_nfc/widgets/android_nfc_not_available_sheet.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_error_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_loading_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_success_bottom_sheet.dart
  lib/features/family/shared/widgets/inputs/input_checkbox.dart
Labels: chore

#993 Fix: fetch new member immediately (KIDS-1318)
  lib/features/children/add_member/repository/add_member_repository.dart
Labels: enhancement

#995 Bugfixes: avatars update, parent give broken, approval/decline bug
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/edit_profile/cubit/edit_profile_cubit.dart
  lib/features/children/edit_profile/repositories/edit_parent_profile_repository.dart
  lib/features/children/edit_profile/repositories/edit_profile_repository.dart
  lib/features/children/parental_approval/cubit/parental_approval_cubit.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/family/features/edit_profile/repositories/edit_profile_repository.dart
  lib/features/family/features/home_screen/kids_home_screen.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/cubit/profiles_state.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/profiles/screens/profile_screen.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_success_bottom_sheet.dart
Labels: enhancement

#998 Track the amount a parent gives
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
Labels: bug
