Repository givtnl/givt-app, pull requests merged in 2024-12, with the labels that each got.

#1303 Bug: Scroll on gratefulness selection sceen and other small screen fixes (KIDS-1720)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
  lib/features/family/features/reflect/presentation/widgets/rule_card.dart
Labels: bug

#1304 Bug: gratitude game doesn't reset correctly (KIDS-1719)
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1301 Bug: remove all triggers of get groups endpoint in EU (kids-1721)
  lib/app/injection/injection.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/give/pages/giving_page.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
  lib/shared/repositories/givt_repository.dart
Labels: enhancement

#1306 Feature: Fix time roundup not always being correct. Refresh all game related data on game close (KIDS-1731)
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: enhancement

#1305 Bug: No spacers with SingleChildScrollView
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1307 Bug: Color of privacy statement text (KIDS-1695)
  lib/app/injection/injection.dart
  lib/core/network/country_iso_info.dart
  lib/core/network/network.dart
  lib/features/auth/widgets/terms_and_conditions_dialog.dart
  lib/features/email_signup/cubit/email_signup_cubit.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/give/pages/home_page.dart
Labels: bug

#1309 Bug: Give to previous should not be goal specific, only org namespace (kids-1350)
  lib/features/give/bloc/give/give_bloc.dart
Labels: bug

#1310 Bug: Make sure first use pop ups are permanently dismissed (kids-335)
  lib/features/personal_summary/overview/dialogs/first_use_summary_dialog.dart
  lib/features/personal_summary/overview/pages/personal_summary_page.dart
Labels: bug

#1311 Bug: If quick, as kid, i can give with money i no longer had (KIDS-1640)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/giving_flow/create_transaction/cubit/create_transaction_cubit.dart
  lib/features/family/features/giving_flow/create_transaction/repositories/create_transaction_repository.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: bug

#1312 Feature: Make sure gratitude game analytics events are unique (KIDS-1730)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
Labels: enhancement

#1313 Bug: Fix refresh issue in history feed when kid gave donation (KIDS-1602)
  lib/features/children/family_history/family_history_cubit/family_history_cubit.dart
  lib/features/family/app/family_routes.dart
Labels: enhancement

#1315 Bug: Clicking push notification doesn't navigate to the correct screen (KIDS-1735)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/give/pages/home_page.dart
Labels: bug

#1320 Bug: Change api call for bedtime responsibility format (KIDS-1757)
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1318 Bug: Fix delete audio on summary screen (KIDS-1749)
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1319 Do not share summary with zero activity (KIDS-1745)
  lib/features/family/features/reflect/domain/models/summary_details.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1314 Bug: Handle error when setting up a bedtime reminder (KIDS-1738)
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
Labels: bug

#1323 Bug: Fix typography on accept invite screen (KIDS-1753)
  lib/features/family/features/impact_groups/widgets/dialogs/impact_group_recieve_invite_sheet.dart
Labels: bug

#1324 hotfix for api selection country whatever
  lib/features/email_signup/cubit/email_signup_cubit.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
Labels: bug

#1326 Feature: Update the recommendation screen scroll (KIDS-1764)
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_widget.dart
Labels: enhancement

#1328 Bug: Fix loop in setting up clients when getting an error that is not internet connection related.
  lib/core/network/request_helper.dart
Labels: bug

#1327 remove close button (KIDS-1762)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: enhancement

#1330 Feature: Change where did you get your box to Where did you hear about Givt? (KIDS-1776)
  lib/features/family/features/box_origin/box_origin_selection_page.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
Labels: enhancement

#1332 Feature: not playing a round ends up in summary screen for example (KIDS-1743)
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/leave_game_custom.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
Labels: enhancement

#1333 Bug: Accept mission screen is not using the Family Group name (KIDS-1747)
  lib/features/family/features/bedtime/blocs/mission_acceptance_cubit.dart
  lib/features/family/features/bedtime/presentation/pages/mission_acceptance_screen.dart
  lib/features/impact_groups_legacy_logic/repo/impact_groups_repository.dart
Labels: enhancement

#1334 Feature: Update recommendations cards & scroll ( kids-1764)
  lib/features/family/features/recommendation/organisations/widgets/organisation_header.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1335 Feature: change the tab (KIDS-1761)
  lib/features/family/features/add_member/pages/family_member_form_page.dart
  lib/features/family/features/add_member/widgets/child_or_parent_selector.dart
  lib/features/family/features/add_member/widgets/family_member_form.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/models/recommendations_ui_model.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/shared/design/components/navigation/fun_tabs.dart
Labels: enhancement

#1329 Feature: Improve setup integration tests (KIDS-1759)
  .idea/runConfigurations/tests_in_integration_test.xml
  .vscode/launch.json
  android/app/build.gradle
  android/app/src/androidTest/java/net/givtapp/droid2/test/MainActivityTest.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/givtapp/droid2/MainActivity.kt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  integration_test/README.md
  integration_test/eu_login_test.dart
  integration_test/features/auth/pages/login_test_page.dart
  integration_test/features/email_signup/presentation/pages/email_signup_test_page.dart
  integration_test/features/give/pages/home_test_page.dart
  integration_test/features/permit_biometric/pages/permit_biometric_test_page.dart
  integration_test/find_utils.dart
  integration_test/flutter_test_config.dart
  integration_test/test_bundle.dart
  integration_test/test_utils.dart
  integration_test/widget_tester_extension.dart
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  ios/RunnerUITests/RunnerUITests.m
  lib/features/auth/widgets/country_dropdown.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  pubspec.lock
  pubspec.yaml
Labels: chore

#1337 Bug: Gamestats moves up when give tile is clicked (KIDS-1752)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
Labels: bug

#1336 Feature: Add action buttons outside card (kids-1763)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_widget.dart
Labels: enhancement

#1338 Bug: Biometrics on android stopped working (KIDS-1782)
  android/app/src/androidTest/java/net/givtapp/droid2/test/MainActivityTest.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/givtapp/droid2/MainActivity.kt
  android/gradle.properties
  pubspec.lock
  pubspec.yaml
Labels: bug

#1339 Bug: Show bedtime setup screens when aborting game after a full round (KIDS-1784)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/presentation/models/leave_game_custom.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
Labels: enhancement

#1340 Bug: 'No Internet Connection' popup is shown when you put app to background for couple of minutes (KIDS-1737)
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/internet_connection/internet_connection_cubit.dart
Labels: enhancement

#1341 send seconds played to backend instead of rounded number (KIDS-1779)
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: enhancement

#1342 Bug: Fix not setting up organisation for child giving when using give button outside organisation container (KIDS-1787)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: bug

#1345 Bug: Disable swipe back on give overlay (kids-1741)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: bug

#1346 Bug: Fix theme switching on new US account (kids-1742)
  lib/features/email_signup/presentation/pages/email_signup_page.dart
Labels: bug

#1347 Bug: user name is missing from analytics when pledging giving skipping via bottom buttons (KIDS-1798)
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1351 Bug: Frequent login page prompt - add logging (kids-1785)
  lib/features/family/utils/family_auth_utils.dart
  lib/utils/auth_utils.dart
Labels: bug

#1353 Feature: Change the confirmation screen for ways to help in the game from AOS (KIDS-1792)
  lib/features/family/features/giving_flow/screens/success_screen.dart
Labels: enhancement

#1354 Feature: update gratitude game tile (KIDS-1819)
  assets/family/images/home_screen/gratitude_tile.webp
  assets/family/images/home_screen/super_show.png
  lib/features/family/features/home_screen/widgets/gratitude_game_button.dart
Labels: enhancement

#1355 Bug: Remove empty summaries (kids-1822)
  lib/features/family/features/game_summary/data/game_summaries_repository.dart
  lib/features/family/features/game_summary/data/models/game_summary_item.dart
Labels: bug

#1356 Feature: when a gratitude tag and generous power is selected go to gratitude screen (KIDS-1821)
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/leave_game_custom.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
Labels: enhancement

#1357 bug: Not shareable summary if no tags selected (KIDS-1825)
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/models/summary_details.dart
Labels: bug

#1358 Feature: Play audio on pass the phone & rule screens (KIDS-1829)
  assets/family/audio/pass_phone_to_first_reporter.wav
  assets/family/audio/pass_phone_to_sidekick.wav
  assets/family/audio/pass_phone_to_superhero.wav
  assets/family/audio/pass_phone_to_the_reporter.wav
  assets/family/audio/pass_phone_to_the_sidekick_and_reporter.wav
  assets/family/audio/ready_its_showtime.wav
  assets/family/audio/reporter_singular_instructions.wav
  assets/family/audio/reporters_plural_instructions.wav
  assets/family/audio/secret_word_instructions.wav
  assets/family/audio/sidekick_instructions.wav
  assets/family/audio/superhero_instructions.wav
  assets/family/images/background_player_1.svg
  assets/family/images/background_player_2.svg
  assets/family/images/background_player_3.svg
  lib/features/family/app/injection.dart
  lib/features/family/features/background_audio/bloc/background_audio_cubit.dart
  lib/features/family/features/background_audio/presentation/animated_speaker.dart
  lib/features/family/features/background_audio/presentation/fun_background_audio_widget.dart
  lib/features/family/features/game_summary/presentation/widgets/summary_page.dart
  lib/features/family/features/gratitude-summary/domain/repositories/parent_summary_repository.dart
  lib/features/family/features/gratitude-summary/presentation/pages/record_summary_message_.bottomsheet.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_player.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_recorder.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/reflect/presentation/pages/generous_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/interview_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/features/reflect/presentation/widgets/rule_card.dart
  pubspec.yaml
Labels: enhancement

#1359 Add tap to continue text on animation screen
  lib/features/family/features/bedtime/presentation/pages/intro_bedtime_screen.dart
Labels: enhancement

#1360 Feature: Check device volume on roles screen (kids-1828)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/background_audio/presentation/animated_speaker.dart
  lib/features/family/features/background_audio/presentation/volume_bottomsheet.dart
  lib/features/family/features/reflect/bloc/family_selection_cubit.dart
  lib/features/family/features/reflect/bloc/secret_word_cubit.dart
  lib/features/family/features/reflect/data/fake_data.dart
  lib/features/family/features/reflect/presentation/models/game_roles_custom.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1361 Feature: Always show summaries button with empty state (KIDS-1824)
  assets/family/images/empty_flag.svg
  lib/features/family/app/injection.dart
  lib/features/family/features/game_summary/cubit/game_summaries_cubit.dart
  lib/features/family/features/game_summary/presentation/pages/game_summaries_screen.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
Labels: enhancement

#1362 Bug: Block rules screen button until audio is over
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
Labels: bug

#1363 FBSDK (KIDS-1777)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/strings.xml
  ios/Runner/Info.plist
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/splash/cubit/splash_cubit.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1364 Bug: Save game before navigating to bedtime flow
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
Labels: bug

#1366 Bug: If you play other game in same session it shows play button instead of record button (KIDS-1830)
  lib/features/family/features/reflect/bloc/summary_cubit.dart
Labels: enhancement

#1367 Bug: Scroll doesn't reset when you commit to doing something (KIDS-1826)
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/models/grateful_custom.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: enhancement
