Repository givtnl/givt-app, pull requests merged in 2024-10, with the labels that each got.

#1116 Bug: Grateful screen keeps loading (KIDS-1469)
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
Labels: bug

#1115 Bug: Gratitude game navigation stack (kids-1470)
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
Labels: bug

#1119 Bug: Remove allowance logic from edit child name screen (kids-1425)
  lib/features/children/edit_child/cubit/edit_child_cubit.dart
  lib/features/children/edit_child/cubit/edit_child_state.dart
  lib/features/children/edit_child/pages/edit_child_page.dart
  lib/features/children/edit_child/repositories/edit_child_repository.dart
Labels: bug

#1095 Make app ready for new mac / xcode version
  .github/workflows/ios.yml
  android/app/build.gradle
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/profile/AndroidManifest.xml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  ios/Runner.xcodeproj/project.pbxproj
  lib/app/app.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
  lib/features/give/pages/giving_page.dart
  packages/flutter_device_region/android/build.gradle
  pubspec.lock
  pubspec.yaml
Labels: chore

#1117 Bug: Refresh profiles on second start up of Gratitude Game (kids-1472)
  lib/features/family/features/reflect/bloc/family_selection_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  pubspec.lock
Labels: bug

#1121 Feature: Update reveal secret word screen (kids-1476)
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
Labels: enhancement

#1123 Prepare for release
  lib/features/family/app/family_routes.dart
  pubspec.yaml
Labels: chore

#1125 Feature: Save Gratitude Game seconds spent in game (KIDS-1434)
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_dialog.dart
  lib/features/family/network/api_service.dart
Labels: enhancement

#1120 Feature: Update rules screen and navigation (kids-1474 & kids-1475)
  lib/features/family/features/reflect/bloc/secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
  lib/features/family/features/reflect/presentation/widgets/reporters_widget.dart
  lib/features/family/features/reflect/presentation/widgets/rule_card.dart
  lib/shared/widgets/extensions/string_extensions.dart
Labels: enhancement

#1126 Hotfix: Register summary cubit
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1127 Feature: New intro screens (kids-1466)
  assets/family/images/family_on_rug.svg
  assets/family/images/stage_background.png
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/features/reflect/presentation/widgets/animated_arc.dart
  lib/features/family/utils/family_app_theme.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: enhancement

#1129 Bug: fix registration being mega buggy
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/features/auth/helpers/logout_helper.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/bloc/registration_event.dart
Labels: bug

#1130 Feature: bottom navigation screen part 2 (KIDS-1460)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/features/account_details/bloc/personal_info_edit_bloc.dart
  lib/features/children/add_member/pages/failed_vpc_bottomsheet.dart
  lib/features/children/cached_members/repositories/cached_members_repository.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/cubit/navigation_destination_data.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_screen_uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/usecases/family_setup_usecase.dart
  lib/features/family/features/home_screen/usecases/preferred_church_usecase.dart
  lib/features/family/features/home_screen/usecases/registration_use_case.dart
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/cubit/profiles_state.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/shared/design/components/navigation/fun_navigation_bar.dart
  lib/features/give/pages/home_page.dart
  lib/features/impact_groups/widgets/impact_group_recieve_invite_sheet.dart
  lib/features/registration/cubit/stripe_cubit.dart
  lib/features/registration/pages/credit_card_details_page.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/shared/bloc/common_cubit.dart
  lib/shared/pages/change_max_amount_bottom_sheet.dart
  lib/shared/widgets/base/base_state_consumer.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1131 Bug: Fix rounds navigation and reveal secret word ui fix (KIDS-1498 & KIDS-1467)
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
Labels: bug

#1133 show declined kids transactions (KIDS-1235)
  lib/features/family/features/history/history_repository/history_repository.dart
Labels: bug

#1132 New homescreen (KIDS-1462, KIDS-1461)
  assets/family/images/home_screen/background.svg
  assets/family/images/home_screen/hands.svg
  assets/family/images/home_screen/super_show.png
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/utils/member_utils.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/giving_flow/widgets/organisation_widget.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/widgets/give_button.dart
  lib/features/family/features/home_screen/widgets/gratitude_game_button.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/qr_scanner/widgets/gallery_permissions_dialog.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_avatar.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_avatar_bar.dart
  lib/features/family/shared/design/components/navigation/fun_top_app_bar.dart
  lib/features/family/shared/widgets/texts/title_large_text.dart
  pubspec.yaml
Labels: enhancement

#1135 Add analytics properties when setting pref church (KIDS-1465)
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
Labels: enhancement

#1134 Change avatarbar text in gratitude recommendation screen (KIDS-1492)
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/presentation/models/recommendations_ui_model.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1137 show spinner while waiting for profiles (KIDS-1514)
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
Labels: bug

#1138 Disable pop on grateful screen (KIDS-1515)
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
Labels: enhancement

#1139 sort users + different default loading icon (KIDS-1516)
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/shared/widgets/base/base_state_consumer.dart
Labels: bug

#1136 Bugfix: Add permission check if android bluetooth is on ( kids-1278 )
  lib/features/give/pages/bt_scan_page.dart
Labels: bug

#1140 Bug: fix declined bluetotth permission on android (kids-1278)
  lib/features/give/pages/bt_scan_page.dart
Labels: bug

#1142 Bugfix/error login
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/shared/widgets/base/base_state_consumer.dart
  lib/shared/widgets/errors/unrecoverable_error.dart
Labels: bug

#1145 remove unused api call
  lib/core/network/api_service.dart
Labels: chore

#1146 Feature: Fetch recommended acts of service (kids-1508)
  lib/features/family/features/recommendation/organisations/models/organisation.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/data/recommendation_types.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/family/network/api_service.dart
Labels: enhancement

#1149 Feature: Add missing card details in empty wallet flow (kids-1521)
  lib/app/routes/app_router.dart
  lib/features/account_details/pages/personal_info_edit_page.dart
  lib/features/children/details/pages/child_details_page.dart
  lib/features/children/overview/pages/edit_allowance_page.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
  lib/features/registration/pages/credit_card_details.dart
  lib/features/registration/pages/credit_card_details_page.dart
  lib/shared/models/user_ext.dart
  lib/utils/stripe_helper.dart
Labels: enhancement

#1150 Feature: update registration flow remove vpc (KIDS-1518)
  lib/app/routes/app_router.dart
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/add_member/repository/add_member_repository.dart
  lib/features/children/add_member/widgets/family_member_form.dart
  lib/features/children/add_member/widgets/vpc_page.dart
  lib/features/children/details/pages/child_details_page.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/utils/add_member_util.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/usecases/preferred_church_usecase.dart
  lib/features/family/features/home_screen/usecases/registration_usecase.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/give/pages/home_page.dart
  lib/features/registration/pages/credit_card_details.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/shared/widgets/custom_navigation_drawer.dart
Labels: enhancement

#1148 Remove duplicate tracking (KIDS-1465)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
Labels: bug

#1152 Bug: fix give overlay not updating after switching accounts
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
Labels: bug

#1151 Feature: Navigation in empty wallet flow (kids-1521)
  lib/features/children/details/pages/child_details_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/registration/pages/credit_card_details.dart
Labels: enhancement

#1154 show correct groupname after registration
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: bug

#1156 fix some layout issues when input in error state
  lib/app/routes/app_router.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/registration/widgets/us_mobile_number_form_field.dart
Labels: bug

#1155 You should now see a bit less of the error state on the home screen.
  lib/features/registration/pages/us_signup_page.dart
Labels: enhancement

#1157 Eliminate error state after setting up family.
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
Labels: enhancement

#1159 rewrite last pr
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/utils/add_member_util.dart
Labels: bug

#1160 Feature: Remove welcome screen. (KIDS-1530)
  lib/app/routes/app_router.dart
  lib/features/auth/pages/email_signup_page.dart
  lib/features/first_use/pages/welcome_page.dart
Labels: enhancement

#1161 Feature: Measure time spent playing from the start and round up in minutes (KIDS-1525)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
Labels: enhancement

#1162 FIX: Hide home btn when browser closes
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
Labels: bug

#1163 Bug: overlay switches profiles order every time
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
Labels: bug

#1165 Bug: Fix parent invite not showing (KIDS-1543)
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1164 Bug: user couldnt select US (KIDS-1529)
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/widgets/country_dropdown.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1167 Bug: Immediately got the question to turn on biometrics after installing app (KIDS-1542)
  lib/features/auth/pages/email_signup_page.dart
Labels: bug

#1169 Feature: Save act of service pledge and heart success screen (kids-1507)
  assets/family/lotties/success_heart.json
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_header.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/bloc/gratitude_selection_cubit.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/family/features/reflect/presentation/models/grateful_custom.dart
  lib/features/family/features/reflect/presentation/models/gratitude_selection_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/heart_success_screen.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
  lib/features/family/network/api_service.dart
Labels: enhancement

#1170 Feature/Save aos (kids-1507 )
  lib/features/family/features/giving_flow/screens/success_screen.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/heart_success_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1171 Feature: Guess the word multiple choice (KIDS-1552)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/guess_option_uimodel.dart
  lib/features/family/features/reflect/presentation/models/guess_the_word_custom.dart
  lib/features/family/features/reflect/presentation/models/guess_the_word_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
  lib/shared/dialogs/confetti_dialog.dart
Labels: enhancement

#1172 Feature: small changes and change game texts (KIDS-1562)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/bloc/family_selection_cubit.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/bloc/result_cubit.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
Labels: enhancement

#1173 Feature: Gratitude game small changes feedback (KIDS-1566)
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/widgets/rule_card.dart
Labels: enhancement

#1174 Feature: Assign random avatar during parent registration (kids-1545 & kids-1547)
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/avatars/cubit/avatars_cubit.dart
  lib/features/family/features/avatars/cubit/avatars_state.dart
  lib/features/family/features/avatars/models/avatar.dart
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/family/features/avatars/screens/parent_avatar_selection_screen.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/bloc/registration_event.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/registration/widgets/random_avatar.dart
  lib/shared/models/temp_user.dart
Labels: enhancement

#1175 Feature: Change assigned avatar sheet (kids-1549)
  lib/features/family/features/avatars/cubit/avatars_cubit.dart
  lib/features/family/features/avatars/cubit/avatars_state.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/registration/widgets/avatar_selection_bottomsheet.dart
  lib/features/registration/widgets/random_avatar.dart
Labels: enhancement

#1176 Feature: change interview flow (KIDS-1561)
  lib/features/family/features/reflect/bloc/gratitude_selection_cubit.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/data/gratitude_tags_data.dart
  lib/features/family/features/reflect/domain/models/record_answer_uimodel.dart
  lib/features/family/features/reflect/presentation/models/gratitude_selection_uimodel.dart
  lib/features/family/features/reflect/presentation/models/interview_custom.dart
  lib/features/family/features/reflect/presentation/models/interview_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/gratitude_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/interview_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/rule_screen.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
Labels: enhancement

#1177 Feature: Change the flow after the first round (KIDS-1560)
  lib/features/family/features/reflect/bloc/secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
Labels: enhancement

#1178 Bug: Preferred church modal is showing up even though church is already set (KIDS-1564)
  lib/features/family/features/home_screen/usecases/preferred_church_usecase.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: bug

#1180 Bug: Fix registration flow not working as expected (KIDS-1570)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/app/routes/app_router.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/usecases/registration_usecase.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/domain/registration_repository.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1181 Hotfix: Acts of Service analytics
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/utils/analytics_helper.dart
Labels: bug

#1182 Hotfix: Do not send empty profile picture (kids-1571)
  lib/features/children/add_member/models/member.dart
Labels: bug

#1183 Bug: Fix family counter page not always showing user profile icon
  lib/features/children/add_member/widgets/member_counter.dart
Labels: bug

#1184 Fix: Create border around current avatar
  lib/features/children/add_member/pages/family_member_form_page.dart
Labels: enhancement

#1187 Feature: update gratitude selection screen texts, colors and order (KIDS-1581)
  lib/features/family/features/reflect/data/gratitude_tags_data.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
Labels: enhancement

#1188 Feature: center avatar bar (KIDS-1572)
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/presentation/models/grateful_avatar_bar_uimodel.dart
  lib/features/family/features/reflect/presentation/models/grateful_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/shared/design/components/content/avatar_bar.dart
  lib/features/family/shared/design/components/content/avatar_widget.dart
  lib/features/family/shared/design/components/content/models/avatar_bar_uimodel.dart
  lib/features/family/shared/design/components/content/models/avatar_uimodel.dart
  lib/shared/dialogs/confetti_dialog.dart
Labels: enhancement

#1186 Bug: Fix question timer not resetting when there's only one reporter (KIDS-1580)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/presentation/models/interview_custom.dart
  lib/features/family/features/reflect/presentation/pages/interview_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
Labels: bug

#1189 Feature: Empty Wallet Sheet must continue flow after success (KIDS-1576)
  lib/features/family/features/giving_flow/create_transaction/cubit/create_transaction_cubit.dart
  lib/features/family/features/giving_flow/create_transaction/cubit/create_transaction_state.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_success_bottom_sheet.dart
Labels: enhancement

#1191 Fix: do not send empty strings (kids-1571)
  lib/shared/models/temp_user.dart
Labels: bug

#1192 Feature: Remove summary screen back button (KIDS-1579)
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: enhancement

#1193 Feature: Fix country dropdown selection state colors (KIDS-1573)
  lib/features/auth/widgets/country_dropdown.dart
Labels: enhancement

#1190 Feature: Enter card details sheet must continue flow (KIDS-1577)
  lib/features/children/details/pages/child_details_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/registration/pages/credit_card_details.dart
Labels: enhancement

#1195 Do not allow someone to swipe back during the game.
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: enhancement

#1194 Fix: Retry mechanism for slider widget
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
Labels: enhancement

#1197 Fix: Empty wallet to slider screen (KIDS-1576)
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: bug

#1198 Fix: Make spinner full screen
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
Labels: bug

#1199 Feature: Second parent can pledge Acts (KIDS-1505)
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/models/recommendations_ui_model.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1200 Feat: Connection cubit (kids-1593)
  lib/core/network/network_info.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_screen_uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/internet_connection/internet_connection_cubit.dart
  lib/features/internet_connection/internet_connection_state.dart
  lib/shared/dialogs/internet_connection_lost_dialog.dart
Labels: enhancement

#1201 Refactor stuff and rebuild Password Reset for US (KIDS-1598)
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/admin_fee/data/repositories/admin_fee_repository.dart
  lib/features/family/features/auth/pages/family_login_page.dart
  lib/features/family/features/avatars/repositories/avatars_repository.dart
  lib/features/family/features/edit_profile/repositories/edit_profile_repository.dart
  lib/features/family/features/giving_flow/collectgroup_details/repositories/organisation_details_repository.dart
  lib/features/family/features/giving_flow/create_transaction/repositories/create_transaction_repository.dart
  lib/features/family/features/history/history_repository/history_repository.dart
  lib/features/family/features/impact_groups/repository/impact_groups_repository.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
  lib/features/family/features/recommendation/organisations/repositories/organisations_repository.dart
  lib/features/family/features/recommendation/tags/repositories/tags_repository.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reset_password/cubit/reset_password_cubit.dart
  lib/features/family/features/reset_password/presentation/pages/reset_password_screen.dart
  lib/features/family/features/reset_password/repositories/reset_password_repository.dart
  lib/features/family/network/family_api_service.dart
Labels: enhancement

#1202 Feature: family auth cubit (KIDS-1594)
  lib/features/family/features/auth/bloc/family_auth_cubit.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/auth/presentation/models/family_auth_state.dart
Labels: enhancement

#1206 Allow easy access of user object in auth repo.
  lib/features/family/features/auth/data/family_auth_repository.dart
Labels: enhancement

#1204 Feature: change token retry policy to use correct repo (KIDS-1601)
  lib/core/network/expired_token_retry_policy.dart
  lib/core/network/family_expired_token_retry_policy.dart
  lib/core/network/request_helper.dart
  lib/core/network/token_interceptor.dart
  lib/features/family/app/injection.dart
Labels: enhancement

#1205 Login auth 🎉
  lib/app/routes/app_router.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/cubit/auth_state.dart
  lib/features/auth/pages/email_signup_page.dart
  lib/features/auth/pages/login_page.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/login/cubit/family_login_cubit.dart
  lib/features/family/features/login/presentation/models/family_login_sheet_custom.dart
  lib/features/family/features/login/presentation/pages/family_login_sheet.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/profiles/widgets/profiles_empty_state_widget.dart
  lib/features/family/features/reset_password/presentation/pages/reset_password_sheet.dart
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/helpers/logout_helper.dart
  lib/features/family/utils/family_auth_utils.dart
  lib/features/give/pages/organization_list_page.dart
  lib/features/give/widgets/choose_amount.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/unregister_account/unregister_page.dart
  lib/shared/widgets/buttons/leading_back_button.dart
  lib/shared/widgets/custom_navigation_drawer.dart
  lib/utils/auth_utils.dart
Labels: enhancement

#1207 Feature: prefetch avatars part 1 (KIDS-1575)
  lib/app/injection/injection.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/avatars/repositories/avatars_repository.dart
  lib/features/registration/pages/us_signup_page.dart
  lib/features/registration/widgets/random_avatar.dart
Labels: enhancement

#1210 Feature: Fix NFC sometimes giving scanned status while not having anything scanned (KIDS-1592)
  lib/features/family/features/qr_scanner/widgets/camera_screen_frame.dart
  lib/features/family/features/recommendation/widgets/charity_finder_app_bar.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/scan_nfc/cubit/scan_nfc_cubit.dart
  lib/features/family/features/scan_nfc/nfc_scan_screen.dart
  lib/features/family/shared/widgets/buttons/givt_back_button_flat.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1211 Potential real fix for nfc problem
  lib/features/family/features/scan_nfc/nfc_scan_screen.dart
Labels: bug

#1213 Feature: auth cubit connection part3
  lib/features/family/features/auth/bloc/family_auth_cubit.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
Labels: enhancement

#1216 Personalize empty wallet popup (KIDS-1641)
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/topup/screens/topup_initial_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_loading_bottom_sheet.dart
  lib/shared/models/user_ext.dart
Labels: enhancement

#1218 Yes predefined destructive button (KIDS-1643)
  lib/features/children/overview/widgets/cancel_allowance_dialog.dart
Labels: bug

#1215 Remove avatars when overlay is active (KIDS-1642)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
Labels: enhancement

#1220 Fix: Remove question mark (kids-1626)
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1214 Update Guess the secret word screen (KIDS-1610)
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/models/guess_the_word_custom.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
Labels: enhancement

#1221 Remove letter spacing (KIDS-1644)
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/shared/design/theme/fun_text_styles.dart
Labels: bug

#1223 Fix: Await refresh profiles when kid makes transaction (kids-1640)
  lib/features/family/app/injection.dart
  lib/features/family/features/giving_flow/create_transaction/repositories/create_transaction_repository.dart
  lib/features/family/features/profiles/repository/profiles_repository.dart
Labels: bug

#1225 Fix: Always await a kid's updated wallet before showing success (kids-1630)
  lib/features/family/features/topup/screens/empty_wallet_bottom_sheet.dart
  lib/features/family/features/topup/screens/enter_details_bottom_sheet.dart
  lib/features/family/features/topup/screens/topup_bottom_sheet.dart
Labels: bug

#1219 Fix: Remove family history duplicates (KIDS-1632)
  lib/features/children/family_history/family_history_cubit/family_history_cubit.dart
Labels: bug

#1224 Bug: fix child wallet not updated on family overview screen after top up (KIDS-1635)
  lib/features/family/features/profiles/repository/profiles_repository.dart
Labels: bug

#1217 Bugfix: Remove child history duplicates (kids-1639)
  lib/features/family/features/history/history_cubit/history_cubit.dart
Labels: bug

#1226 Possible fix spinning avatars. Remove prefetch.
  lib/features/family/features/avatars/repositories/avatars_repository.dart
Labels: bug
