Repository givtnl/givt-app, pull requests merged in 2024-09, with the labels that each got.

#1000 Feature/reflect and share hackathon
  .github/workflows/main.yaml
  assets/family/images/record_mic_green.svg
  assets/family/images/record_mic_red.svg
  assets/family/images/secret_word_bg.svg
  assets/images/microphone.svg
  assets/images/sidekick.svg
  assets/images/superhero_mask.svg
  ios/Runner.xcodeproj/project.pbxproj
  lib/features/children/family_goal/widgets/family_goal_circle.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/reflect/bloc/fake_bloc.dart
  lib/features/family/features/reflect/bloc/family_roles_cubit.dart
  lib/features/family/features/reflect/bloc/family_selection_cubit.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/bloc/secret_word_cubit.dart
  lib/features/family/features/reflect/data/fake_data.dart
  lib/features/family/features/reflect/domain/fake_domain.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/domain/models/roles.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/fake_page.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/features/family/features/reflect/presentation/widgets/animated_arc.dart
  lib/features/family/features/reflect/presentation/widgets/arc.dart
  lib/features/family/features/reflect/presentation/widgets/fake_widget.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
  lib/features/family/features/reflect/presentation/widgets/profile_item.dart
  lib/features/family/features/reflect/presentation/widgets/record_timer.dart
  lib/features/family/utils/family_app_theme.dart
  lib/shared/widgets/buttons/givt_elevated_button.dart
  lib/shared/widgets/common_icons.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1002 Remove GC registration screen (KIDS-1329)
  lib/app/routes/app_router.dart
  lib/features/children/generosity_challenge/pages/registration_redirect_to_generosity_screen.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: enhancement

#1001 Feature: Cached family and funds errors (kids-1274)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/cubit/add_member_cubit.dart
  lib/features/children/add_member/pages/failed_allowances_bottomsheet.dart
  lib/features/children/add_member/pages/failed_vpc_bottomsheet.dart
  lib/features/children/add_member/widgets/add_member_loading_page.dart
  lib/features/children/cached_members/cubit/cached_members_cubit.dart
  lib/features/children/cached_members/cubit/cached_members_state.dart
  lib/features/children/cached_members/dialogs/cached_members_dialog.dart
  lib/features/children/cached_members/pages/cached_family_overview_page.dart
  lib/features/children/cached_members/repositories/cached_members_repository.dart
  lib/features/children/cached_members/widgets/cached_member_overview_tile.dart
  lib/features/children/cached_members/widgets/cached_member_overview_widget.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_content.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_error_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_initial_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_retrying_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_success_page.dart
  lib/features/children/cached_members/widgets/cached_members_page.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/cubit/profiles_state.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/profiles/widgets/profile_item.dart
  lib/shared/widgets/buttons/givt_elevated_secondary_button.dart
Labels: enhancement

#994 Feat: Handle VPC and create (kids-1273)
  lib/app/app.dart
  lib/app/injection/injection.dart
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/cubit/add_member_cubit.dart
  lib/features/children/add_member/cubit/add_member_state.dart
  lib/features/children/add_member/pages/add_member_form_page.dart
  lib/features/children/add_member/pages/failed_allowances_bottomsheet.dart
  lib/features/children/add_member/pages/failed_vpc_bottomsheet.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/add_member/pages/member_main_scaffold_page.dart
  lib/features/children/add_member/widgets/add_member_form.dart
  lib/features/children/add_member/widgets/add_member_loading_page.dart
  lib/features/children/add_member/widgets/child_or_parent_selector.dart
  lib/features/children/add_member/widgets/family_member_form.dart
  lib/features/children/add_member/widgets/notice_dialog.dart
  lib/features/children/add_member/widgets/vpc_page.dart
  lib/features/children/cached_members/cubit/cached_members_cubit.dart
  lib/features/children/cached_members/cubit/cached_members_state.dart
  lib/features/children/cached_members/dialogs/cached_members_dialog.dart
  lib/features/children/cached_members/pages/cached_family_overview_page.dart
  lib/features/children/cached_members/repositories/cached_members_repository.dart
  lib/features/children/cached_members/widgets/cached_member_overview_tile.dart
  lib/features/children/cached_members/widgets/cached_member_overview_widget.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_content.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_error_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_initial_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_retrying_page.dart
  lib/features/children/cached_members/widgets/cached_members_dialog_success_page.dart
  lib/features/children/cached_members/widgets/cached_members_page.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/overview/widgets/profile_overview_tile.dart
  lib/features/children/overview/widgets/profiles_overview_widget.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/cubit/profiles_state.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/profiles/widgets/parent_overview_widget.dart
  lib/features/family/features/profiles/widgets/profile_item.dart
  lib/features/family/shared/widgets/content/amount_counter.dart
  lib/features/family/shared/widgets/texts/body_medium_text.dart
  lib/shared/widgets/buttons/givt_elevated_secondary_button.dart
  lib/shared/widgets/givt_tabs.dart
Labels: enhancement

#1003 Fix header for multiple reporters (kids-1337)
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
Labels: enhancement

#1004 Bug: Be able to dismiss keyboard and scroll on family set up form page (kids-1359)
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/shared/widgets/family_scaffold.dart
Labels: bug

#1007 Feature: handle out of words questions scenario (KIDS-1334)
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: enhancement

#1006 Always logout when going back from registration (KIDS-1360)
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1005 Fix: insufficient funds for top up (KIDS-1358)
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/cubit/add_member_cubit.dart
  lib/features/children/add_member/cubit/add_member_state.dart
  lib/features/children/add_member/pages/failed_allowances_bottomsheet.dart
  lib/features/children/add_member/pages/failed_vpc_bottomsheet.dart
  lib/features/children/add_member/repository/add_member_repository.dart
  lib/features/children/add_member/widgets/add_member_loading_page.dart
  lib/features/registration/cubit/stripe_cubit.dart
Labels: enhancement

#1009 Create rule screens and start of fun components structure (KIDS-1333)
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/shared/design/components/content/fun_card.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
  lib/features/family/shared/design/theme/family_text_styles.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1012 Refactor to one app bar
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/generosity_challenge/assignments/create_challenge_donation/pages/choose_amount_slider_page.dart
  lib/features/children/generosity_challenge/assignments/day4_timer/pages/day4_timer_screen.dart
  lib/features/children/generosity_challenge/assignments/family_values/pages/display_family_values_page.dart
  lib/features/children/generosity_challenge/assignments/family_values/pages/display_organisations_page.dart
  lib/features/children/generosity_challenge/assignments/family_values/pages/select_family_values_page.dart
  lib/features/children/generosity_challenge/assignments/set_up_allowance/widgets/wallet_intro_page.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_day_details.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_introduction.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_vpc_setup_page.dart
  lib/features/children/generosity_challenge/widgets/generosity_app_bar.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/pages/chat_script_page.dart
  lib/features/children/overview/pages/edit_allowance_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/shared/design/components/navigation/fun_top_app_bar.dart
  lib/features/family/utils/family_app_theme.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: chore

#1013 Feature: Pass the phone to superhero (KIDS-1335)
  lib/features/family/features/reflect/bloc/family_roles_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
Labels: enhancement

#1014 Feature: pass phone to sidekick Part 1 (KIDS-1340)
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
Labels: enhancement

#1016 Fix: Set up family form layout, btn text, and go directly to counter page (kids-1215)
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/overview/pages/family_overview_page.dart
  lib/features/children/utils/add_member_util.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/shared/design/components/actions/fun_secondary_button.dart
  lib/features/registration/pages/registration_success_us.dart
Labels: bug

#1017 Fix: Navigation to reg success maybe its an async issue (KIDS-1366)
  lib/features/registration/pages/credit_card_details_page.dart
  lib/features/registration/pages/us_signup_page.dart
  pubspec.yaml
Labels: enhancement

#1015 Add guess word screen (not integrated in the flow yet)
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/widgets/secret_word_input.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
Labels: enhancement

#1023 Result screen (KIDS-1343)
  lib/features/family/features/reflect/bloc/result_cubit.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/widgets/secret_word_input.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1024 Add autofocus on first input
  lib/features/family/features/reflect/presentation/widgets/secret_word_input.dart
Labels: enhancement

#1025 Make secret input fields wider, remove counter text and add padding (KIDS-1375)
  lib/features/family/features/reflect/presentation/widgets/secret_word_input.dart
Labels: enhancement

#1028 Show max 9 kids (KIDS-1347)
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
Labels: enhancement

#1027 Back were needed, disable pop on some pages + go back home end of the loop (KIDS-1376)
  lib/features/family/features/reflect/presentation/pages/fake_page.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: enhancement

#1029 Only show reflect and share button when having more then 3 members (KIDS)
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
Labels: enhancement

#1030 Add amplitude tracking to all buttons in reflect and share (KIDS-1381)
  .github/PULL_REQUEST_TEMPLATE.md
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/widgets/buttons/givt_back_button_flat.dart
Labels: enhancement

#1033 Bug: Fix registration sometimes skipping biometrics and success screens.
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/bloc/registration_event.dart
  lib/features/registration/pages/credit_card_details_page.dart
Labels: bug

#1026 Fix registration screen being pushed twice.
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/registration/bloc/registration_bloc.dart
Labels: bug

#1034 Feat: Interview screen (kids-1338)
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
Labels: enhancement

#1035 typo
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
Labels: enhancement

#1037 Feat: Interview screen move to cubit (kids-1338)
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/domain/models/record_answer_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
Labels: enhancement

#1039 Button: Next question instead of reporter with one reporter
  lib/features/family/features/reflect/bloc/interview_cubit.dart
Labels: bug

#1041 Add missing tracking
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
Labels: enhancement

#1042 Unfocus input fields when changing between Child <> Parent options
  lib/features/children/add_member/pages/family_member_form_page.dart
Labels: bug

#1043 Reflect and Share exit button (KIDS-1380)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_superhero_screen.dart
  lib/features/family/features/reflect/presentation/pages/reveal_secret_word.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_dialog.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
  lib/features/family/shared/design/components/overlays/overlays.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1045 Improve add member screen (KIDS-1332)
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/widgets/arc.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: enhancement

#1048 Don't start bluetooth scan, should go automatically when turned on (KIDS-1353)
  lib/features/give/pages/bt_scan_page.dart
Labels: bug

#1049 Give all bottomsheets the same background color for FUN theme (KIDS-1169)
  lib/features/family/features/auth/pages/family_login_page.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1050 Make use of components in avatar screens (KIDS-1264)
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/family/features/avatars/screens/parent_avatar_selection_screen.dart
Labels: enhancement

#1052 Remove goal from EU code (KIDS-742)
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/give/pages/home_page.dart
  lib/features/give/widgets/enter_amount_bottom_sheet.dart
  lib/features/give/widgets/home_goal_tracker.dart
  lib/features/impact_groups/pages/impact_group_screen.dart
  lib/features/impact_groups/widgets/impact_group_details_bottom_panel.dart
Labels: enhancement

#1051 Some improvements to the add family member flow (KIDS-1367)
  lib/features/children/add_member/pages/add_member_counter_page.dart
  lib/features/children/add_member/pages/family_member_form_page.dart
  lib/features/children/add_member/widgets/family_member_form.dart
  lib/features/children/add_member/widgets/smiley_counter.dart
  lib/features/children/utils/add_member_util.dart
  lib/shared/widgets/givt_tabs.dart
Labels: bug

#1054 Bottomsheet improvements > max width title + bottom padding based on keyboard (KIDS-1169)
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
Labels: enhancement

#1056 Implement new slider screen
  assets/fun/illustrations/give.svg
  lib/app/app.dart
  lib/core/enums/collect_group_type.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/coin_flow/screens/search_for_coin_screen.dart
  lib/features/family/features/coin_flow/widgets/coin_error_page.dart
  lib/features/family/features/giving_flow/collectgroup_details/cubit/collectgroup_details_cubit.dart
  lib/features/family/features/giving_flow/collectgroup_details/cubit/collectgroup_details_state.dart
  lib/features/family/features/giving_flow/collectgroup_details/models/collectgroup_details.dart
  lib/features/family/features/giving_flow/collectgroup_details/repositories/organisation_details_repository.dart
  lib/features/family/features/giving_flow/organisation_details/cubit/organisation_details_state.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_goal_screen.dart
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/giving_flow/screens/success_screen.dart
  lib/features/family/features/giving_flow/widgets/family_goal_widget.dart
  lib/features/family/features/giving_flow/widgets/organisation_widget.dart
  lib/features/family/features/giving_flow/widgets/slider_widget.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_bottom_panel.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/qr_scanner/presentation/camera_screen.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_reporter_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflection_rule_sidekick_screen.dart
  lib/features/family/features/scan_nfc/cubit/scan_nfc_cubit.dart
  lib/features/family/features/scan_nfc/nfc_scan_screen.dart
  lib/features/family/features/scan_nfc/widgets/start_scan_nfc_button.dart
  lib/features/family/shared/design/components/navigation/fun_top_app_bar.dart
  lib/features/family/shared/design/illustrations/fun_give.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
  lib/features/family/utils/family_app_theme.dart
  lib/shared/widgets/fun_scaffold.dart
  pubspec.yaml
Labels: enhancement

#1058 Show correct text for amounts (KIDS-1400)
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
Labels: bug

#1057 Refactor logic to start next round, show buttons (KIDS-1344)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/bloc/family_roles_cubit.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/bloc/result_cubit.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/scan_nfc/nfc_scan_screen.dart
Labels: enhancement

#1059 Keep record answer screen awake (KIDS-1402)
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: bug

#1061 New Summary Screen Reflect & Share (KIDS-1395)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/models/summary_details.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/reflect_intro_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
  lib/features/family/shared/widgets/layout/action_container.dart
Labels: enhancement

#1062 Update questions and words
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: enhancement

#1063 fix word minutes
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
Labels: bug

#1065 Reset questions asked + time spent
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: bug

#1067 Tracking added to tiles, tabs, navigationbar (KIDS-1203)
  lib/core/enums/amplitude_events.dart
  lib/features/children/add_member/widgets/child_or_parent_selector.dart
  lib/features/children/generosity_challenge/assignments/family_values/widgets/family_value_container.dart
  lib/features/children/generosity_challenge/assignments/family_values/widgets/organisation_container.dart
  lib/features/children/generosity_challenge/assignments/family_values/widgets/organisation_detail_bottomsheet.dart
  lib/features/children/generosity_challenge/pages/generosity_challenge_overview.dart
  lib/features/children/generosity_challenge/widgets/day_button.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/widgets/chat_input_field.dart
  lib/features/children/generosity_challenge_chat/chat_scripts/widgets/givt_icon_button.dart
  lib/features/family/features/home_screen/kids_home_screen.dart
  lib/features/family/features/home_screen/parent_home_screen.dart
  lib/features/family/features/profiles/screens/profile_screen.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/recommendation/interests/cubit/interests_cubit.dart
  lib/features/family/features/recommendation/interests/widgets/interest_card.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/recommendation/tags/cubit/tags_cubit.dart
  lib/features/family/features/recommendation/tags/screens/location_selection_screen.dart
  lib/features/family/features/recommendation/tags/widgets/city_card.dart
  lib/features/family/features/recommendation/tags/widgets/location_card.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
  lib/features/family/shared/design/components/input/fun_counter.dart
  lib/features/family/shared/design/components/navigation/fun_navigation_bar.dart
  lib/features/family/shared/design/components/navigation/fun_tabs.dart
  lib/features/family/shared/widgets/buttons/givt_close_button.dart
  lib/features/family/shared/widgets/buttons/tiles/filter_tile.dart
  lib/features/family/shared/widgets/buttons/tiles/quick_tile.dart
  lib/features/family/shared/widgets/layout/action_container.dart
  lib/shared/widgets/action_container.dart
  lib/shared/widgets/buttons/custom_icon_border_button.dart
Labels: chore

#1069 Fix: Eu camera permissions dialog ( KIDS-1279 )
  lib/features/family/app/injection.dart
  lib/features/give/pages/qr_code_scan_page.dart
  lib/features/give/widgets/camera_permission_eu_dialog.dart
  lib/l10n/arb/app_de.arb
  lib/l10n/arb/app_en.arb
  lib/l10n/arb/app_en_US.arb
  lib/l10n/arb/app_nl.arb
Labels: enhancement

#1068 Bug: fix intruder john and registration break off (KIDS-1324)
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/registration/bloc/registration_bloc.dart
  lib/features/registration/pages/registration_success_us.dart
  lib/features/registration/pages/us_signup_page.dart
Labels: bug

#1071 Hotfix: Switch poeditor string
  lib/features/give/widgets/camera_permission_eu_dialog.dart
Labels: enhancement

#1070 Feature: grateful skeleton (KIDS-1406)
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/grateful_avatar_bar_uimodel.dart
  lib/features/family/features/reflect/presentation/models/grateful_avatar_uimodel.dart
  lib/features/family/features/reflect/presentation/models/grateful_custom.dart
  lib/features/family/features/reflect/presentation/models/grateful_uimodel.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_avatar_bar.dart
Labels: enhancement

#1073 Feature: implement top grateful avatar bar (KIDS-1414)
  lib/core/enums/collect_group_type.dart
  lib/features/account_details/pages/change_address_bottom_sheet.dart
  lib/features/auth/cubit/auth_state.dart
  lib/features/children/family_goal/pages/create_family_goal_flow_page.dart
  lib/features/children/generosity_challenge/assignments/set_up_allowance/widgets/wallet_intro_page.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/coin_flow/widgets/search_coin_animated_widget.dart
  lib/features/family/features/edit_profile/cubit/edit_profile_cubit.dart
  lib/features/family/features/giving_flow/collectgroup_details/models/collectgroup_details.dart
  lib/features/family/features/home_screen/kids_home_screen.dart
  lib/features/family/features/recommendation/interests/widgets/interest_card.dart
  lib/features/family/features/recommendation/tags/screens/location_selection_screen.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/models/grateful_custom.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/gratitude_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/result_screen.dart
  lib/features/family/features/reflect/presentation/widgets/animated_arc.dart
  lib/features/family/features/reflect/presentation/widgets/arc.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_avatar.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_avatar_bar.dart
  lib/features/family/features/reflect/presentation/widgets/profile_item.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/registration/bloc/registration_bloc.dart
  packages/http_certificate_pinning/lib/http_certificate_pinning.dart
  packages/http_certificate_pinning/lib/src/http_certificate_pinning.dart
  packages/http_certificate_pinning/lib/src/http_client/secure_http_client.dart
Labels: enhancement

#1076 Fix: Roles assignment (kids-1411)
  lib/features/family/features/profiles/models/profile.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: bug

#1079 Feature: display non profits gratitude screen (KIDS-1416)
  lib/features/family/features/recommendation/organisations/widgets/organisation_detail_bottomsheet.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/family/features/reflect/presentation/models/grateful_uimodel.dart
  lib/features/family/features/reflect/presentation/models/recommendations_ui_model.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/grateful_loading.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_widget.dart
  lib/features/family/shared/widgets/loading/full_screen_loading_widget.dart
  lib/shared/widgets/fun_scaffold.dart
  pubspec.lock
Labels: enhancement

#1080 Feature: Loop donation flow into reflectio ( KIDS-1417 )
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
  lib/features/family/features/giving_flow/screens/success_screen.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/pages/family_roles_screen.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/gratitude_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1082 Feat: Exit modal to finish reflecting (KIDS-1407)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/finish_reflection_dialog.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
Labels: enhancement

#1083 Feature: complete loading error grateful states (KIDS-1428)
  lib/features/family/app/injection.dart
  lib/features/family/features/profiles/widgets/profiles_empty_state_widget.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_widget.dart
  lib/features/family/shared/widgets/errors/retry_error_widget.dart
Labels: enhancement

#1084 Feature: change summary to include generous deeds (KIDS-1409)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/models/summary_details.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1085 Feature: Create donation flow (kids-1421)
  lib/core/enums/amplitude_events.dart
  lib/features/children/generosity_challenge/assignments/create_challenge_donation/pages/choose_amount_slider_page.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: enhancement

#1086 Feature: Add auth to grateful parent flow (kids-1422)
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: enhancement

#1087 hotfix: missing true
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
Labels: enhancement

#1088 Fix: Play Gratitude game multiple times (kids-1431)
  lib/features/family/app/injection.dart
Labels: bug

#1089 hotfix recommendation flow
  lib/features/family/features/giving_flow/screens/choose_amount_slider_screen.dart
Labels: bug

#1090 Feature: Do not show adults other than the logged in user for now (KIDS-1429)
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
Labels: enhancement

#1091 Fix: Empty wallet in gratitude game (kids-1430)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: bug

#1092 Bug: Reset the give cubit after donation (kids-1442)
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_giving_page.dart
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/bloc/give/give_event.dart
Labels: bug

#1096 Feature: Allow 2 players to play gratitude game (KIDS-1440)
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/reflect/bloc/interview_cubit.dart
  lib/features/family/features/reflect/domain/models/game_profile.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/family_selection_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/start_interview.dart
  lib/features/family/features/reflect/presentation/widgets/game_profile_item.dart
Labels: enhancement

#1097 I fix it youre welcome
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
Labels: bug

#1093 Bug: guess secret word screen glitching Part 1
  lib/features/family/features/reflect/presentation/widgets/secret_word_input.dart
Labels: bug

#1099 Feature: Show modal pop up to select preferred church (KIDS-1446)
  lib/app/injection/injection.dart
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/auth/helpers/logout_helper.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/cubit/profiles_state.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
  lib/features/give/models/organisation.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
Labels: enhancement

#1100 Feature: Create preferred church success modal (KIDS-1448)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/impact_groups/widgets/dialogs/preferred_church_success_dialog.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
Labels: enhancement

#1103 Feature: Select preferred church from a list (KIDS-1447)
  lib/core/enums/amplitude_events.dart
  lib/core/network/api_service.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/impact_groups/widgets/dialogs/preferred_church_outcome_dialog.dart
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
  lib/features/impact_groups/models/impact_group.dart
  lib/features/impact_groups/repo/impact_groups_repository.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: enhancement

#1105 Feature: Show preferred church in gratitude game (kids-1449)
  lib/features/family/features/profiles/screens/profile_selection_screen.dart
  lib/features/family/features/recommendation/tags/models/areas.dart
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
Labels: enhancement

#1104 Feature: Make loginpage scrollable while still spacing out content (KIDS-1423)
  lib/features/auth/pages/email_signup_page.dart
Labels: enhancement

#1107 Bug: Fix setting preferred church shows success but does not update database when offline (KIDS-1457)
  lib/features/family/features/impact_groups/widgets/dialogs/preferred_church_outcome_dialog.dart
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
  lib/features/family/features/profiles/cubit/profiles_cubit.dart
Labels: bug

#1108 Bugfix: Grateful recommendations sort after retry (kids-1458)
  lib/features/family/features/reflect/domain/grateful_recommendations_repository_impl.dart
  lib/features/give/models/organisation.dart
Labels: bug

#1110 Have only one way of showing modals
  lib/features/family/features/impact_groups/widgets/dialogs/preferred_church_outcome_dialog.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
Labels: chore

#1111 Layout props should be in scaffold instead of button
  lib/features/family/features/preferred_church/preferred_church_selection_page.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/shared/widgets/fun_scaffold.dart
Labels: chore

#1114 Feature: bottom navigation screen (KIDS-1460) Part 1
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/pages/kids_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/parent_home_screen.dart
  lib/features/family/features/home_screen/presentation/widgets/kids_home_screen_app_bar.dart
Labels: enhancement

#1113 feature: Update the kids home screen (kids-1432)
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/history/history_screen.dart
  lib/features/family/features/home_screen/cubit/navigation_cubit.dart
  lib/features/family/features/home_screen/cubit/navigation_destination_data.dart
  lib/features/family/features/home_screen/presentation/pages/kids_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/parent_home_screen.dart
  lib/features/family/features/home_screen/presentation/widgets/kids_home_screen_app_bar.dart
  lib/features/family/features/impact_groups/pages/goal_screen.dart
  lib/features/family/features/impact_groups/pages/impact_group_details_page.dart
  lib/features/family/features/impact_groups/widgets/goal_card.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_bottom_panel.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_expandable_description.dart
  lib/features/family/features/impact_groups/widgets/impact_group_details_header.dart
  lib/features/family/features/impact_groups/widgets/no_goals_widget.dart
  lib/features/family/features/profiles/screens/profile_screen.dart
  lib/features/family/features/profiles/widgets/wallet_widget.dart
  lib/features/family/shared/widgets/content/common_history_item_widget.dart
Labels: enhancement
