Repository givtnl/givt-app, pull requests merged in 2025-01, with the labels that each got.

#1368 Feature: TEMPorary homepage card (KIDS-1815)
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/features/reflect/domain/models/mission_stats.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/shared/design/components/content/pager_dot.dart
  lib/features/family/shared/design/components/content/pager_dot_indicator.dart
Labels: enhancement

#1369 Feature: PART 1/ WIP mission available screen (kids-1816)
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/family_goal/pages/goal_active_widget.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/features/missions/bloc/missions_cubit.dart
  lib/features/family/features/missions/presentation/models/missions_ui_model.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/shared/design/components/content/fun_goal_card.dart
  lib/features/family/shared/design/components/content/models/fun_goal_card_ui_model.dart
  lib/features/family/shared/design/components/navigation/fun_tabs.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_bar.dart
Labels: enhancement

#1370 Improve mission card
  lib/features/family/features/family_goal/pages/family_goal_tracker.dart
  lib/features/family/features/family_goal/pages/goal_active_widget.dart
  lib/features/family/features/family_goal/pages/goal_completed_widget.dart
  lib/features/family/features/family_goal/pages/no_goal_set_widget.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/features/home_screen/widgets/stats_container.dart
  lib/features/family/features/missions/bloc/missions_cubit.dart
  lib/features/family/features/missions/presentation/models/missions_ui_model.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/shared/design/components/content/fun_goal_card.dart
  lib/features/family/shared/design/components/content/fun_mission_card.dart
  lib/features/family/shared/design/components/content/models/fun_goal_card_ui_model.dart
  lib/features/family/shared/design/components/content/models/fun_mission_card_ui_model.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_bar.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_uimodel.dart
Labels: enhancement

#1371 Bug: Frequent login required when opening the app (KIDS-1785)
  lib/core/notification/notification_service.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
Labels: enhancement

#1377 Bug: Do not logout when we don't have an internet connection.
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
Labels: bug

#1378 Bug: do not redirect from app startup when you don't have internet yet, just wait for the internet while notifying the user
  lib/features/family/app/injection.dart
  lib/features/splash/cubit/splash_cubit.dart
  lib/features/splash/cubit/splash_custom.dart
  lib/features/splash/pages/splash_page.dart
Labels: bug

#1385 bedtime mission
  lib/core/notification/notification_service.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/avatars/screens/kids_avatar_selection_screen.dart
  lib/features/family/features/bedtime/presentation/models/bedtime_arguments.dart
  lib/features/family/features/bedtime/presentation/pages/intro_bedtime_screen.dart
  lib/features/family/features/bedtime/presentation/pages/mission_acceptance_screen.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
  lib/features/family/features/family_goal/pages/goal_active_widget.dart
  lib/features/family/features/family_goal/pages/goal_completed_widget.dart
  lib/features/family/features/family_goal/pages/no_goal_set_widget.dart
  lib/features/family/features/game_summary/presentation/widgets/summary_page.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/features/home_screen/widgets/stats_container.dart
  lib/features/family/features/missions/bloc/missions_cubit.dart
  lib/features/family/features/missions/domain/entities/mission.dart
  lib/features/family/features/missions/domain/mission_keys.dart
  lib/features/family/features/missions/domain/repositories/mission_repository.dart
  lib/features/family/features/missions/domain/repositories/mission_repository_impl.dart
  lib/features/family/features/missions/presentation/models/missions_ui_model.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/features/profiles/widgets/give_bottomsheet.dart
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/bloc/leave_game_cubit.dart
  lib/features/family/features/reflect/presentation/models/guess_the_word_custom.dart
  lib/features/family/features/reflect/presentation/models/leave_game_custom.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_button.dart
  lib/features/family/network/family_api_service.dart
  lib/features/family/shared/design/components/content/fun_card.dart
  lib/features/family/shared/design/components/content/fun_mission_card.dart
  lib/features/family/shared/design/components/content/models/fun_mission_card_ui_model.dart
  lib/features/family/shared/design/illustrations/fun_goal.dart
  lib/features/family/shared/widgets/content/givt_banner.dart
  lib/features/family/shared/widgets/dialogs/reward_banner_dialog.dart
  lib/features/family/shared/widgets/texts/body_medium_text.dart
  lib/features/family/utils/family_app_theme.dart
  lib/features/give/pages/home_page.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_bar.dart
  lib/shared/widgets/goal_progress_bar/goal_progress_uimodel.dart
Labels: enhancement

#1386 Add back button to setup bedtime flow (KIDS-1844)
  lib/features/family/features/bedtime/blocs/setup_bedtime_cubit.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
Labels: enhancement

#1387 Keep screen active while listening to summary (KIDS-1786)
  lib/features/family/features/game_summary/presentation/widgets/summary_page.dart
Labels: enhancement

#1388 add amplitude events for audio player/recording (KIDS-1840 & KIDS-1841)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/background_audio/presentation/fun_background_audio_widget.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_player.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_recorder.dart
Labels: chore

#1390 Change labels and colors in game flow on organisation cards (KIDS-1849)
  lib/features/family/features/recommendation/organisations/widgets/organisation_header.dart
  lib/features/family/features/recommendation/organisations/widgets/organisation_item.dart
  lib/features/family/features/recommendation/tags/models/tag.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/models/grateful_uimodel.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
Labels: enhancement

#1391 Add audio to guess secret word screen (KIDs-1845)
  assets/family/audio/guess_secret_word.wav
  lib/features/family/features/reflect/bloc/guess_secret_word_cubit.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
Labels: enhancement

#1392 Update suggestion screen + add model as transition (KIDS-1818)
  lib/features/family/features/game_summary/presentation/widgets/summary_page.dart
  lib/features/family/features/gratitude-summary/bloc/parent_summary_cubit.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/models/grateful_custom.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/features/reflect/presentation/pages/guess_secret_word_screen.dart
  lib/features/family/features/reflect/presentation/pages/pass_the_phone_screen.dart
  lib/features/family/features/reflect/presentation/pages/record_answer_screen.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/features/reflect/presentation/widgets/generous_selection_widget.dart
  lib/features/family/features/reflect/presentation/widgets/gratitude_selection_widget.dart
  lib/features/family/features/reflect/presentation/widgets/leave_game_dialog.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_list_widget.dart
  lib/features/family/features/reflect/presentation/widgets/recommendations_widget.dart
  lib/features/family/shared/design/components/content/avatar_bar.dart
  lib/features/family/shared/design/components/overlays/fun_modal.dart
Labels: enhancement

#1394 Improvement: Add tracking to fun mission card (KIDS-1855)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/family_goal/pages/goal_active_widget.dart
  lib/features/family/features/family_goal/pages/goal_completed_widget.dart
  lib/features/family/features/family_goal/pages/no_goal_set_widget.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/shared/design/components/content/fun_mission_card.dart
Labels: enhancement

#1395 Feature: Improve in-game summary screen (kids-1857)
  lib/features/family/features/game_summary/presentation/widgets/summary_page.dart
  lib/features/family/features/gratitude-summary/presentation/pages/record_summary_message_bottomsheet.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_player.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/fun_audio_recorder.dart
  lib/features/family/features/reflect/bloc/summary_cubit.dart
  lib/features/family/features/reflect/domain/models/summary_details.dart
  lib/features/family/features/reflect/domain/reflect_and_share_repository.dart
  lib/features/family/features/reflect/presentation/pages/summary_screen.dart
  lib/features/family/helpers/datetime_extension.dart
  lib/features/family/shared/design/components/actions/fun_button.dart
  lib/features/family/shared/design/components/actions/fun_tile.dart
  lib/features/family/shared/design/components/content/fun_tag.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/family/shared/design/theme/fun_text_styles.dart
Labels: enhancement

#1396 Feature: Create notification mission page (KIDS-1863)
  android/app/src/main/AndroidManifest.xml
  ios/Podfile
  ios/Runner/Info.plist
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/features/missions/presentation/pages/notification_mission_screen.dart
  lib/features/family/shared/design/components/content/fun_card.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
Labels: enhancement

#1397 Feature: Save status of notification permission (kids-1861)
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/missions/bloc/notif_mission_cubit.dart
  lib/features/family/features/missions/presentation/pages/notification_mission_screen.dart
Labels: enhancement

#1398 Bug: Reopening the app w permission updates the text (kids-1876)
  lib/features/family/features/auth/data/family_auth_repository.dart
  lib/features/family/features/missions/bloc/notif_mission_cubit.dart
  lib/features/family/features/missions/presentation/models/notif_mission_ui_model.dart
  lib/features/family/features/missions/presentation/pages/notification_mission_screen.dart
  lib/shared/models/user_ext.dart
Labels: bug

#1399 Bug: Check if index is less than length (kids-1868)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: bug

#1400 Feature: Update FunTabs (Kids-1875)
  lib/features/family/features/add_member/pages/family_member_form_page.dart
  lib/features/family/features/add_member/widgets/child_or_parent_selector.dart
  lib/features/family/features/add_member/widgets/family_member_form.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/features/reflect/bloc/grateful_cubit.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/shared/design/components/navigation/fun_tabs.dart
Labels: enhancement

#1401 Bug: Update notification endpoint
  lib/core/network/api_service.dart
  lib/features/auth/repositories/auth_repository.dart
  lib/features/family/features/auth/data/family_auth_repository.dart
Labels: enhancement

#1403 Feature: add memories show summaries currently to the menu bar (KIDS-1880)
  lib/features/family/features/game_summary/presentation/pages/game_summaries_screen.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
Labels: enhancement

#1404 Bug: Do not allow two consecutive dots in an emailadres (KIDS-1878)
  lib/utils/util.dart
Labels: enhancement

#1405 Feature: improve error handling for no internet connection scenarios (KIDS-1886)
  lib/core/enums/amplitude_events.dart
  lib/features/auth/pages/login_page.dart
  lib/features/email_signup/cubit/email_signup_cubit.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/features/login/presentation/pages/family_login_sheet.dart
Labels: enhancement

#1407 Feature: move tell us where your heard about givt to registration (KIDS-1890)
  lib/features/family/app/family_pages.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/family/features/add_member/widgets/add_member_loading_page.dart
  lib/features/family/features/box_origin/bloc/box_origin_cubit.dart
  lib/features/family/features/box_origin/presentation/box_origin_question_screen.dart
  lib/features/family/features/box_origin/presentation/box_origin_selection_page.dart
  lib/features/family/features/box_origin/usecases/box_origin_usecase.dart
  lib/features/family/features/home_screen/cubit/navigation_bar_home_cubit.dart
  lib/features/family/features/home_screen/presentation/models/navigation_bar_home_custom.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
Labels: enhancement

#1408 Feature/kids 1888 remove last screens of setup bedtime flow
  lib/features/family/app/family_routes.dart
  lib/features/family/features/bedtime/presentation/pages/intro_bedtime_screen.dart
  lib/features/family/features/bedtime/presentation/pages/setup_bedtime_screen.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
Labels: enhancement

#1414 Change title to generosity time (KIDS-1895)
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
Labels: enhancement

#1415 Change icon on missioncard to superhero (KIDS-1894)
  assets/family/images/avatar_captain.svg
  lib/features/family/features/family_goal/pages/goal_completed_widget.dart
  lib/features/family/features/family_goal/pages/no_goal_set_widget.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/widgets/missions_container.dart
  lib/features/family/shared/design/components/content/fun_mission_card.dart
  lib/features/family/shared/design/components/content/models/fun_mission_card_ui_model.dart
  lib/features/family/shared/design/illustrations/fun_avatar.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
Labels: enhancement

#1417 Update icon+colours in organisation filter tiles (KIDS-1898)
  lib/core/enums/collect_group_type.dart
  lib/features/family/shared/widgets/buttons/tiles/quick_tile.dart
Labels: enhancement

#1418 Show empty state when a kid profile doesnt contain donations (KIDS-1900)
  lib/features/family/features/history/history_screen.dart
  lib/features/family/features/profiles/widgets/wallet_widget.dart
Labels: enhancement

#1419 Base redirection on the registration flow (KIDS-1890)
  lib/features/family/features/add_member/cubit/add_member_cubit.dart
  lib/features/family/features/add_member/pages/add_family_counter_page.dart
  lib/features/family/features/add_member/pages/add_member_counter_page.dart
  lib/features/family/features/add_member/pages/family_member_form_page.dart
  lib/features/family/features/add_member/widgets/add_member_loading_page.dart
  lib/features/family/features/overview/pages/family_overview_page.dart
  lib/utils/add_member_util.dart
Labels: enhancement

#1420 Refresh missions in background when going to missions page
  lib/features/family/features/missions/bloc/missions_cubit.dart
  lib/features/family/features/missions/domain/repositories/mission_repository.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
Labels: enhancement

#1423 Bug: Some users are redirecting to 'Select player' screen while in Reflect & Share (KIDS-1904)
  lib/features/family/shared/design/components/overlays/fun_modal.dart
Labels: enhancement

#1424 Bug: Switching accounts does not reset missions (KIDS-1891)
  lib/features/family/app/injection.dart
  lib/features/family/features/missions/domain/repositories/mission_repository_impl.dart
Labels: enhancement

#1422 Bug: EU should save permission status too
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/repositories/auth_repository.dart
Labels: enhancement

#1425 Bug: Family Goal tile is always visible even when no goal is setup (KIDS-1833)
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/impact_groups/models/goal.dart
  lib/features/family/features/overview/widgets/family_available_page.dart
Labels: enhancement

#1428 Feature: Input numeric keyboard for parent giving (kids-1287)
  lib/core/enums/collect_group_type.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/parent_amount_page.dart
  lib/features/family/features/reflect/presentation/pages/grateful_screen.dart
  lib/features/family/network/family_api_service.dart
  lib/features/family/shared/design/components/input/fun_numeric_keyboard.dart
  lib/features/family/shared/design/illustrations/fun_icon.dart
  lib/features/give/widgets/numeric_keyboard.dart
Labels: enhancement
