Repository givtnl/givt-app, pull requests merged in 2025-04, with the labels that each got.

#1586 Feature: last step 6 of tutorial not showing (KIDS-2127)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/gratitude_goal/presentation/pages/gratitude_goal_entry_screen.dart
  lib/features/family/features/missions/domain/repositories/mission_repository_impl.dart
  lib/features/family/features/tutorial/domain/tutorial_repository.dart
Labels: enhancement

#1587 Bug: captain AI toggle non-readable iphone SE (KIDS-2041)
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/utils/family_app_theme.dart
Labels: enhancement

#1590 Bug/bug fixes before release part3
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen.uimodel.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/reflect/presentation/pages/stage_screen.dart
  lib/features/family/features/unlocked_badge/repository/unlocked_badge_repository.dart
Labels: bug

#1594 Feature: Make microphone waveform more sensitive (KIDS-2099)
  lib/features/family/features/gratitude-summary/bloc/record_cubit.dart
  lib/features/family/features/gratitude-summary/presentation/widgets/record_waveform.dart
Labels: enhancement

#1593 Feature: show discover your reward after a game unlock (KIDS-2187)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/cubit/family_home_screen_cubit.dart
  lib/features/family/features/home_screen/presentation/models/family_home_screen_custom.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/reward/presentation/pages/reward_screen.dart
Labels: enhancement

#1600 Show easter egg icon on custom avatar elements
  lib/features/family/features/edit_avatar/bloc/edit_avatar_cubit.dart
  lib/features/family/features/edit_avatar/presentation/models/edit_avatar_item_uimodel.dart
  lib/features/family/features/edit_avatar/presentation/widgets/unlocked_color_widget.dart
  lib/features/family/features/edit_avatar/presentation/widgets/unlocked_item_widget.dart
Labels: enhancement

#1604 Share Avatar (KIDS-2089)
  assets/family/images/looking_good_share_frame.svg
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/edit_avatar/bloc/edit_avatar_cubit.dart
  lib/features/family/features/edit_avatar/presentation/models/looking_good_uimodel.dart
  lib/features/family/features/edit_avatar/presentation/pages/looking_good_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#1618 Translate homescreen + registration to spanish
  pubspec.yaml
Labels: enhancement

#1621 Feature: fe adjustment (KIDS-2172)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/league/bloc/in_game_league_cubit.dart
  lib/features/family/features/league/presentation/widgets/league_explanation.dart
  lib/features/family/features/reward/presentation/models/reward_uimodel.dart
  lib/features/family/features/reward/presentation/pages/reward_screen.dart
Labels: enhancement

#1623 Translate tutorial to Spanish (KIDS-2179)
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
  lib/features/family/features/account/presentation/widgets/us_terminate_account_bottom_sheet.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_overlay.dart
  lib/features/family/features/home_screen/presentation/pages/navigation_bar_home_screen.dart
  lib/features/family/features/missions/presentation/pages/missions_screen.dart
  lib/features/family/shared/design/components/content/fun_progressbar.dart
  lib/features/family/shared/widgets/dialogs/reward_banner_dialog.dart
  lib/l10n/arb/app_de.arb
  lib/l10n/arb/app_en.arb
  lib/l10n/arb/app_en_US.arb
  lib/l10n/arb/app_es.arb
  lib/l10n/arb/app_es_419.arb
  lib/l10n/arb/app_nl.arb
Labels: enhancement

#1626 Prefill amount from QR
  lib/app/routes/app_router.dart
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/bloc/give/give_event.dart
  lib/features/give/pages/home_page.dart
  lib/features/give/widgets/choose_amount.dart
  lib/features/give/widgets/enter_amount_bottom_sheet.dart
Labels: enhancement

#1625 Feature: EU favorites (KIDS-2207)
  lib/app/routes/app_router.dart
  lib/core/enums/amplitude_events.dart
  lib/features/family/app/family_routes.dart
  lib/features/family/app/injection.dart
  lib/features/give/pages/organization_list_page.dart
  lib/features/recurring_donations/create/widgets/create_recurring_donation_bottom_sheet.dart
  lib/shared/bloc/organisation/organisation_bloc.dart
  lib/shared/bloc/organisation/organisation_event.dart
  lib/shared/bloc/organisation/organisation_state.dart
Labels: enhancement

#1627 Bug: fix auth popping up when not needed/ at innapropriate times
  lib/utils/auth_utils.dart
Labels: bug

#1628 clean iban on change
  lib/features/account_details/bloc/personal_info_edit_bloc.dart
Labels: bug

#1636 Feature: vibe coded allow eu user to change name (KIDS-2218)
  lib/core/enums/amplitude_events.dart
  lib/features/account_details/bloc/personal_info_edit_bloc.dart
  lib/features/account_details/bloc/personal_info_edit_event.dart
  lib/features/account_details/pages/change_name_bottom_sheet.dart
  lib/features/account_details/pages/personal_info_edit_page.dart
  lib/shared/models/user_ext.dart
Labels: enhancement

#1638 Feature: vibe coded analytics improvements cancel donation & change name
  lib/core/enums/amplitude_events.dart
  lib/features/account_details/pages/change_name_bottom_sheet.dart
  lib/features/account_details/pages/personal_info_edit_page.dart
  lib/features/overview/widgets/givt_list_item.dart
Labels: enhancement

#1639 Feature: vibe coded auto favorites (KIDS-2223)
  lib/core/enums/amplitude_events.dart
  lib/features/give/bloc/give/give_bloc.dart
  lib/features/give/pages/organization_list_page.dart
  lib/shared/bloc/organisation/organisation_bloc.dart
  lib/shared/bloc/organisation/organisation_event.dart
  lib/utils/util.dart
Labels: enhancement

#1645 Feature: Add analytics for memories (KIDS-2226)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/game_summary/presentation/pages/game_summaries_screen.dart
Labels: enhancement

#1646 Fix uncaught exceptions for all possible personal edit changes.
  lib/features/account_details/bloc/personal_info_edit_bloc.dart
Labels: bug

#1648 Feature: disabled account login error message (KIDS-2057)
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/cubit/auth_state.dart
  lib/features/auth/pages/login_page.dart
Labels: enhancement

#1642 Feature: Show different message when feature is unlocked (KIDS-2195)
  lib/features/family/features/edit_avatar/presentation/pages/edit_avatar_screen.dart
  lib/features/family/features/edit_avatar/presentation/widgets/locked_captain_message_widget.dart
Labels: enhancement

#1641 Feature: vibe coded add online giving label in donation overview for donation (KIDS-2219)
  lib/features/overview/models/givt.dart
  lib/features/overview/widgets/givt_list_item.dart
Labels: enhancement

#1649 Fix selected org always being on top.
  lib/shared/bloc/organisation/organisation_bloc.dart
Labels: bug

#1652 Feature: US personal info tracking (KIDS-2194)
  lib/core/enums/amplitude_events.dart
  lib/features/family/features/account/presentation/pages/us_personal_info_edit_page.dart
Labels: enhancement

#1654 Feature: credentials not triggered when clicking entry field (KIDS-2210)
  lib/features/auth/pages/login_page.dart
  lib/features/email_signup/presentation/pages/email_signup_page.dart
  lib/features/family/features/login/presentation/pages/family_login_sheet.dart
  lib/features/family/features/registration/widgets/us_mobile_number_form_field.dart
  lib/features/registration/pages/personal_info_page.dart
  lib/features/registration/pages/signup_page.dart
  lib/features/registration/widgets/mobile_number_form_field.dart
  lib/shared/widgets/outlined_text_form_field.dart
Labels: enhancement

#1653 Feature: Only show auth block on parent give (KIDs-2227)
  lib/features/family/app/family_routes.dart
  lib/features/family/features/home_screen/presentation/pages/family_home_screen.dart
  lib/features/family/features/home_screen/presentation/pages/parent_home_screen.dart
  lib/features/family/features/parent_giving_flow/presentation/pages/give_from_list_page.dart
Labels: enhancement

#1655 Feature: avatar feature improvements (KIDS-2203)
  lib/features/family/features/edit_avatar/presentation/pages/edit_avatar_screen.dart
Labels: enhancement

#1658 Refactor EU to Design System (Max Amount, Amount Preset, Contact)
  integration_test/features/give/pages/home_test_page.dart
  lib/features/account_details/pages/personal_info_edit_page.dart
  lib/features/amount_presets/pages/amount_presets_page_view.dart
  lib/features/amount_presets/pages/change_amount_presets_bottom_sheet.dart
  lib/features/amount_presets/pages/enable_amount_presets_page_view.dart
  lib/features/amount_presets/widgets/preset_form_field.dart
  lib/features/auth/cubit/auth_cubit.dart
  lib/features/auth/pages/change_password_page.dart
  lib/features/auth/pages/login_page.dart
  lib/features/family/shared/design/components/overlays/fun_bottom_sheet.dart
  lib/features/give/pages/home_page.dart
  lib/features/give/widgets/triple_animated_switch.dart
  lib/shared/pages/change_max_amount_bottom_sheet.dart
  lib/shared/widgets/about_givt_bottom_sheet.dart
  lib/shared/widgets/app_version.dart
  lib/shared/widgets/us_about_givt_bottom_sheet.dart
Labels: chore

#1659 Max amount is crashing with the many zeros (KIDS-2240)
  lib/shared/pages/change_max_amount_bottom_sheet.dart
Labels: bug
